<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Quản lý đề thi</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li routerLink="/admin/dashboard" class="breadcrumb-item d-flex align-items-center">
                        <span>Trang chủ</span>
                        <i class="breadcrumb-item-arrow fa-solid fa-angle-right"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        <span>Quản lý đề thi</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="group-action__left col-xl-10 col-md-9 col-sm-12">
        <div class="row">
            <div class="form-group col-md-6">
                <input
                   class="form-control"
                   type="text"
                   placeholder="Tên nhóm"
                   [(ngModel)]="queryParameters.name"
                   />
            </div>
             <div class="form-group col-md-1">
                <button
                   type="button"
                   class="btn btn-primary waves-effect waves-light"
                   >
                <i class="fa-solid fa-magnifying-glass"></i>
                </button>
             </div>
        </div>
    </div>
     <div class="group-action__right col-xl-2 col-md-3 col-sm-12 d-flex justify-content-end">
        <button
           type="button"
           class="btn btn-success waves-effect waves-light"
           >
        <i class="fa-solid fa-plus mr-1"></i> Thêm mới
        </button>
     </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="block-content bg-white box-shadow-exam block-content-full border-start border-3 border-danger py-3">
            <div class="d-md-flex justify-content-md-between align-items-md-center">
                <div class="p-1 p-md-3">
                    <h3 class="h4 fw-bold mb-3">
                        <a href="./test/detail/21" class="text-dark link-fx">Đề thi 100 câu</a>
                    </h3>
                    <p class="fs-sm text-muted mb-2">
                        <i class="fa fa-layer-group me-1"></i> Giao cho học phần <strong data-bs-toggle="tooltip" data-bs-animation="true" data-bs-placement="top" style="cursor:pointer" data-bs-original-title="Nhóm 4">Lập trình web và ứng dụng nâng cao - NH2022 - HK2</strong>
                    </p>
                    <p class="fs-sm text-muted mb-0">
                        <i class="fa fa-clock me-1"></i> Diễn ra từ <span>17:05 08/05/2023</span> đến <span>17:35 08/05/2023</span> 
                    </p>
                </div>
                <div class="p-1 p-md-3">
                    <button class="btn btn-sm btn-alt-danger rounded-pill px-3 me-1 my-1" disabled="">Đã đóng</button>
                    <a class="btn btn-sm btn-alt-success rounded-pill px-3 me-1 my-1" href="./test/detail/21">
                        <i class="fa fa-eye opacity-50 me-1"></i> Xem chi tiết
                    </a>
                    <a data-role="dethi" data-action="update" class="btn btn-sm btn-alt-primary rounded-pill px-3 me-1 my-1 show" href="./test/update/21">
                        <i class="fa fa-wrench opacity-50 me-1"></i> Chỉnh sửa
                    </a>
                    <a data-role="dethi" data-action="delete" class="btn btn-sm btn-alt-danger rounded-pill px-3 my-1 btn-delete show" href="javascript:void(0)" data-id="21">
                        <i class="fa fa-times opacity-50 me-1"></i> Xoá đề
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form (ngSubmit)="handleOnSubmitCreateExam()" #createForm="ngForm">
    <ng-template #createExamTemplate>
        <div class="modal-header">
            <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Tạo mới exam</h5>
            <button type="button" class="close" (click)="createExamModalRef?.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-3 col-lg-3 col-form-label" for="title">Tiêu đề <span
                            class="text-danger">*</span></label>
                    <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                        <input class="form-control" [(ngModel)]="exam.title" id="title" name="title" type="text"
                            required placeholder="Tiêu đề" />
                        <div *ngIf="createForm.controls['title']?.invalid && (createForm.controls['title']?.dirty || createForm.controls['title'].touched)"
                            class="danger-notice">
                            <div *ngIf="createForm.controls['title'].errors?.['required']">Tiêu đề không được để trống
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-3 col-lg-3 col-form-label" for="description">Mô tả</label>
                    <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                        <input class="form-control" placeholder="Nội dung" name="description" [(ngModel)]="exam.description"
                            id="description" type="text" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-3 col-lg-3 col-form-label" for="linkTo">Thời gian làm bài</label>
                    <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                        <input class="form-control" name="linkTo" [(ngModel)]="exam.duration" placeholder="Thời gian làm bài"
                            id="linkTo" type="text"  />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-md-3 col-lg-3 col-form-label" for="linkTo">Chọn câu hỏi</label>
                   




                </div>
            </div>



        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light waves-effect" (click)="createExamModalRef?.hide()">Đóng</button>
            <button [disabled]="createForm.invalid && validateForm()" type="submit" (click)="handleOnSubmitCreateExam()"
                class="btn btn-primary waves-effect waves-light ml-2">Xác nhận</button>
        </div>
    </ng-template>
</form>


<ng-template #detailExamTemplate>
    <div class="modal-header">
        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Chi tiết exam</h5>
        <button type="button" class="close" (click)="detailExamModalRef?.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <label class="col-md-3 col-lg-3 col-form-label" for="email">Id</label>
                <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                    <input disabled class="form-control" [(ngModel)]="exam.id" name="email" id="email" type="email"
                        email />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-md-3 col-lg-3 col-form-label" for="email">Tiêu đề</label>
                <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                    <input disabled class="form-control" [(ngModel)]="exam.title" name="email" id="email" type="text" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-md-3 col-lg-3 col-form-label" for="email">Mô tả</label>
                <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                    <input disabled class="form-control" [(ngModel)]="exam.description" name="email" id="email"
                        type="text" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-md-3 col-lg-3 col-form-label" for="duration">Thời gian làm bài</label>
                <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                    <input disabled class="form-control" [(ngModel)]="exam.duration" name="duration" id="duration"
                        type="text" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-md-3 col-lg-3 col-form-label" for="email">Danh sách câu hỏi</label>

                <div class="table-data overflow-auto">
                    <table id="datatable" class="table table-bordered dt-responsive nowrap mt-3"
                        style="border-collapse: collapse; border-spacing: 0; width: 100%">
                        <thead class="thead-light">
                            <tr>
                               <th>Id</th>
                                <th>Tiêu đề</th>
                                <th>Ghi chú</th>
                                <th>Loại câu hỏi</th>
                                <th>Danh mục câu hỏi</th>
                                <th>Số điểm</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="exam.questions.length > 0">
                                <tr *ngFor="let question of exam.questions;">

                                    <td>{{ question.id }}</td>
                                    <td [innerHTML]="question.title"></td>
                                    <td [innerHTML]="question.feedback"></td>
                                    <td>{{ questionHelper.getTypeQuestion(question.type) }}</td>
                                    <td>{{ question.questionCategoryName }}</td>
                                    <td>{{ question.score }}</td>
                                    <td>
                                        <span class="text-info cursor-pointer"
                                            [routerLink]="['/admin/question/detail', question.id]"><i
                                                class="fa-solid fa-eye"></i></span>

                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="!(exam.questions.length > 0)">
                                <tr>
                                    <td class="text-center" colspan="8">Không có bản ghi nào</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light waves-effect" (click)="detailExamModalRef?.hide()">Đóng</button>
    </div>
</ng-template> -->
