<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="navbar-brand-box bg-dark-ui">
                <a [routerLink]="Page.Dashboard" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm-light.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-light.png" alt="" height="20">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="ri-menu-2-line align-middle"></i>
            </button>
        </div>

        <div class="d-flex">
            <!-- User -->
            <div class="dropdown d-inline-block user-dropdown-item" dropdown>
                <button type="button" class="btn header-item waves-effect" dropdownToggle>
                    <img class="rounded-circle header-profile-user user-dropdown-item" src="{{ App.baseApiUrl + userCurrent.avatarUrl }}"
                        alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ml-2 user-dropdown-item">{{ userCurrent.name }}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block user-dropdown-item"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                    <span routerLink="/admin/account/update" class="dropdown-item cursor-pointer"><i class="ri-user-line align-middle mr-1"></i>Cập nhật thông tin</span>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item text-danger cursor-pointer logout-button" (click)="handleOnLogout()"><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>Đăng xuất</span>
                </div>
            </div>
        </div>
    </div>
</header>
