<div class="course-pro my-4">
  <div class="course-pro__header">
    <h2 class="course-pro__header-title mt-0">
      <span
        >Danh mục chức năng <span class="course-pro__header-title__label">Mới</span>
      </span>
    </h2>
  </div>

  <div class="course-pro__body">
    <div class="course-pro__body-wrapper row mt-2">
      <div *ngFor="let page of pages;" routerLink="{{ page.url }}" class="course-pro__item col col-xl-3 col-lg-4 p-0">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem chi tiết</button>
            <div class="course-pro__item-link__img position-relative">
              <img
                class="img-fluid"
                src="{{baseUrlApi + page.image}}"
                alt="HTML CSS Pro"
              />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-2">{{ page.title }}</h3>
          <div class="course-pro__item-icon">
            <img
              src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg"
              alt=""
            />
          </div>
          <div class="course-pro__item-price">
            <span class="course-pro__item-price__old-price">{{ page.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
