<div *ngIf="isInitialized" class="App_withSidebarContent">
  <section
    class="index-module_grid index-module_fullWidth"
    style="max-width: 1920px"
  >
    <div class="DefaultLayout_container">
      <div class="container-body">
        <section class="index-module_row">
          <section
            class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
          >
          <div class="DefaultLayout_container-top">
            <h1 class="DefaultLayout_heading student-header__default-title my-4">
              {{ course.title }}
            </h1>
            <div class="MarkdownParser_wrapper DefaultLayout_desc" [innerHTML]="course.description">
            </div>
            <h1 class="content-title student-header__default-title mt-4 mb-0">
                Nội dung khoá học
            </h1>
            <div class="CurriculumOfCourse_subHeadWrapper__Hkcns my-2">
                <ul class="content-course-left ps-0">
                    <li class="CurriculumOfCourse_hiddenMobile__iP-4s">
                        <strong>4 </strong> chương
                    </li>
                    <li class="content-course-dot">
                        •
                    </li>
                    <li>
                        <strong>12 </strong> bài học
                    </li>
                    <li class="content-course-dot">
                        •
                    </li>
                    <li>
                        <span>Thời lượng <strong>03 giờ 26 phút</strong></span>
                    </li>
                </ul>
                <div class="content-course-right">Mở rộng tất cả</div>
            </div>
            <div class="main-content">
                <div class="main-content-item mb-2">
                    <span class="main-content-item__title">
                        <i class="fa-solid fa-plus me-2"></i>
                        <strong>1. Khái niệm kỹ thuật cần biết</strong>
                    </span>
                    <span class="main-content-item__title-number">3 bài học</span>
                </div>
                <div class="main-content-item-sub mb-2">
                    <span class="main-content-item__title">
                        <i class="fa-solid fa-circle-play me-2"></i>
                        <span>1. Khái niệm kỹ thuật cần biết</span>
                    </span>
                    <span class="main-content-item__title-number">11:35</span>
                </div>
                <!-- <div class="main-content-item mb-2">
                    <span class="main-content-item__title">
                        <i class="fa-solid fa-plus me-2"></i>
                        <strong>1. Khái niệm kỹ thuật cần biết</strong>
                    </span>
                    <span class="main-content-item__title-number">3 bài học</span>
                </div>
                <div class="main-content-item mb-2">
                    <span class="main-content-item__title">
                        <i class="fa-solid fa-plus me-2"></i>
                        <strong>1. Khái niệm kỹ thuật cần biết</strong>
                    </span>
                    <span class="main-content-item__title-number">3 bài học</span>
                </div>
                <div class="main-content-item mb-2">
                    <span class="main-content-item__title">
                        <i class="fa-solid fa-plus me-2"></i>
                        <strong>1. Khái niệm kỹ thuật cần biết</strong>
                    </span>
                    <span class="main-content-item__title-number">3 bài học</span>
                </div> -->
            </div>

            <div class="MarkdownParser_wrapper DefaultLayout_desc" [innerHTML]="course.description">
            </div>
          </div>
          </section>
          <section
            class="index-module_col__lap4 index-module_c-8 index-module_col__tab3 index-module_col__mobie"
          >
          <div class="course-pro__item col p-0">
            <div class="course-pro__item-wrapper">
              <div class="course-pro__item-link cursor-pointer">
                <button type="button">Xem bài viết</button>
                <div class="course-pro__item-link__img position-relative">
                  <img
                    class="img-fluid"
                    src="https://localhost:7038/Page/Page-1.png"
                    alt="HTML CSS Pro"
                  />
                  <div class="position-absolute overley"></div>
                </div>
              </div>
            </div>
            <div class="text-center mt-2">
                <a class="navbar-actions__login-btn">Tham gia khoá học</a>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <ul class="description-course-page ps-0">
                    <li>Tổng số <strong>12</strong> bài học</li>
                    <li>Thời lượng <strong>03 giờ 26 phút</strong></li>
                </ul>
            </div>
          </div>
          </section>
        </section>
      </div>
    </div>
  </section>
</div>
