<div *ngIf="isInitialized && !authService.isAuthenticated" class="App_withSidebarContent">
  <section
    class="index-module_grid index-module_fullWidth"
    style="max-width: 1920px"
  >
    <div class="DefaultLayout_container">
      <div class="container-body">
        <section class="index-module_row">
          <section
            class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
          >
          <div class="DefaultLayout_container-top">
            <h1 class="DefaultLayout_heading student-header__default-title my-4">
              {{ course.title }}
            </h1>
            <div class="MarkdownParser_wrapper DefaultLayout_desc" [innerHTML]="course.description">
            </div>
            <h1 class="content-title student-header__default-title mt-4 mb-0">
                Nội dung khoá học
            </h1>
            <div class="CurriculumOfCourse_subHeadWrapper__Hkcns my-2">
                <ul class="content-course-left ps-0">
                    <li class="CurriculumOfCourse_hiddenMobile__iP-4s">
                        <strong>{{ course.lessons.length }} </strong> chương
                    </li>
                    <li class="content-course-dot">
                        •
                    </li>
                    <li>
                        <strong>{{ course.numberLessonContent }} </strong> bài học
                    </li>
                    <li class="content-course-dot">
                        •
                    </li>
                    <li>
                        <span>Thời lượng <strong>{{ course.totalEstimatedStudyTime }}</strong></span>
                    </li>
                </ul>
                <div *ngIf="!areAllLessonsCollapsed()" (click)="handleOnCollapseAllLesson(true)" class="content-course-right">Mở rộng tất cả</div>
                <div *ngIf="areAllLessonsCollapsed()" (click)="handleOnCollapseAllLesson(false)" class="content-course-right">Thu gọn tất cả</div>
            </div>
            <div class="main-content">
                <ng-container *ngFor="let lesson of course.lessons; let i = index;">
                    <div class="main-content-item mb-2" (click)="lesson.collapse = !lesson.collapse">
                        <span class="main-content-item__title">
                            <i class="fa-solid fa-plus me-2"></i>
                            <strong>{{ i + 1 }}. {{ lesson.title }}</strong>
                        </span>
                        <span class="main-content-item__title-number">{{ lesson.lessonContents.length }} bài học</span>
                    </div>
                    <ng-container *ngIf="lesson.collapse === true">
                        <div class="main-content-item-sub mb-2" *ngFor="let lessonContent of lesson.lessonContents; let lessonContentIndex = index;">
                            <span class="main-content-item__title">
                                <i class="fa-solid fa-circle-play me-2"></i>
                                <span>{{ lessonContentIndex + 1 }}. {{ lessonContent.title }}</span>
                            </span>
                            <span class="main-content-item__title-number">{{ lessonContent.estimatedStudyTime | timeSpan }}</span>
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <div class="MarkdownParser_wrapper DefaultLayout_desc" [innerHTML]="course.content">
            </div>
          </div>
          </section>
          <section
            class="index-module_col__lap4 index-module_c-8 index-module_col__tab3 index-module_col__mobie"
          >
          <div class="course-pro__item col p-0">
            <div class="course-pro__item-wrapper">
              <div class="course-pro__item-link cursor-pointer">
                <button type="button">Xem video giới thiệu</button>
                <div class="course-pro__item-link__img position-relative">
                  <img
                    class="img-fluid"
                    [src]="config.system.baseUrl + course.imageUrl"
                    alt="HTML CSS Pro"
                  />
                  <div class="position-absolute overley"></div>
                </div>
              </div>
            </div>
            <div class="text-center mt-2" (click)="handleOnRegisterCourse()">
                <a class="navbar-actions__login-btn">Tham gia khoá học</a>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <ul class="description-course-page ps-0">
                    <li>Tổng số <strong>{{ course.lessons.length }}</strong> bài học</li>
                    <li>Thời lượng <strong> {{ course.totalEstimatedStudyTime }} </strong></li>
                </ul>
            </div>
          </div>
          </section>
        </section>
      </div>
    </div>
  </section>
</div>

<div *ngIf="isInitialized && authService.isAuthenticated" class="App_withSidebarContent"></div>

<app-auth></app-auth>
