<!-- ======= Featured Posts Section ======= -->
<section id="Featured_Posts" class="your_List featuredPosts container_fluid">
  <div class="container heading container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex">
        <h2>
          Bài viết nổi bật
          <span> Blog </span>
        </h2>
      </div>
      <a class="view_all" rel="noreferrer" target="_self" href="/blog"
        >Xem tất cả &gt;</a
      >
    </div>
  </div>

  <div class="list_item d-flex f-wrap gap24 container">
    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://fullstack.edu.vn/blog/tong-hop-cac-san-pham-cua-hoc-vien-tai-f8.html"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/65/6139fe28a9844.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem Video</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lessons-for-newbie"
        >
          Tổng hợp các sản phẩm của học viên
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Blog </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/623d4b2d95cec.png"
          alt="Sơn Đặng"
        />
        <span class="">Sơn Đặng</span>
        <span class=""> 6 phút đọc</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=VCgk2y-LUJY&list=PL_-VfJajZj0XHWBAxzGh1bZPACRbjbro3"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/279/6153f692d366e.jpg');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem bài viết</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lessons-for-newbie"
        >
          [Phần 1] Tạo dự án ReactJS với Webpack và Babel
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Blog </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/623d4b2d95cec.png"
          alt="Sơn Đặng"
        />
        <span class="">Sơn Đặng</span>
        <span class="">12 phút đọc</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://fullstack.edu.vn/blog/ky-su-ngay-thu-25-hoc-o-f8-1.html"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/51/6139c6453456e.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem bài viết</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/blog/ky-su-ngay-thu-25-hoc-o-f8-1.html"
        >
          Ký sự ngày thứ 25 học ở F8
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Blog </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://graph.facebook.com/1642531882604203/picture?width=400&height=400"
          alt="Sơn Đặng"
        />
        <span class="">Black Cat</span>
        <span class="">1 phút đọc</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://fullstack.edu.vn/blog/hoc-nhu-the-nao-la-phu-hop.html"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(213, 146, 146, 0.5),
              rgba(157, 228, 171, 0.204) 50%
            ),
            url('https://files.fullstack.edu.vn/f8-prod/blog_posts/791/615de64de7e8f.jpg');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem bài viết</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/blog/hoc-nhu-the-nao-la-phu-hop.html"
        >
          Học như thế nào là phù hợp ?
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Blog </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://files.fullstack.edu.vn/f8-prod/user_avatars/18159/63465328ecec4.jpg"
          alt="Sơn Đặng"
        />
        <span class="">Võ Minh Kha</span>
        <span class="">4 phút đọc</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://fullstack.edu.vn/blog/ban-da-cai-nhung-extensions-huu-ich-nay-chua.html"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/107/613a1f3685814.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem bài viết</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/blog/ban-da-cai-nhung-extensions-huu-ich-nay-chua.html"
        >
          Các nguồn tài nguyên hữu ích cho 1 front-end developer
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Blog </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
          alt="Sơn Đặng"
        />
        <span class="">Vương Dương</span>
        <span class="">2 phút đọc</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://fullstack.edu.vn/blog/thoi-gian-va-dong-luc.html"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/1671/61b6368983c16.jpg');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem bài viết</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/blog/thoi-gian-va-dong-luc.html"
        >
          Thời gian và Động lực
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Blog </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://files.fullstack.edu.vn/f8-prod/user_avatars/9143/6263caafdf588.jpg"
          alt="Sơn Đặng"
        />
        <span class="">Đông Ngô</span>
        <span class="">6 phút đọc</span>
      </div>
    </div>
  </div>
</section>
<!-- End Featured Posts -->
