<div class="course-pro mb-3">
  <div class="course-free__header">
    <div class="course-pro__number-student">
      <strong>353.834+</strong> người khác đã học
    </div>
    <h2 class="course-pro__header-title mt-2 mb-3">
      <span>Khoá học miễn phí </span>
    </h2>
  </div>

  <div class="course-pro__body">
    <div class="course-pro__body-wrapper d-flex mt-2">
      <div class="course-pro__item col">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem khoá học</button>
            <div class="course-pro__item-link__img position-relative">
              <img
                class="img-fluid"
                src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                alt="HTML CSS Pro"
              />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-2">HTML CSS Pro</h3>
          <div class="course-pro__item-icon">
            <img
              src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg"
              alt=""
            />
          </div>
          <div class="course-pro__item-price">
            <span class="course-pro__item-price__old-price">2.500.000đ</span>
            <span class="course-pro__item-price__new-price">1.299.000đ</span>
          </div>
        </div>
      </div>
      <div class="course-pro__item col">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem khoá học</button>
            <div class="course-pro__item-link__img position-relative">
              <img
                class="img-fluid"
                src="https://files.fullstack.edu.vn/f8-prod/courses/27/64e184ee5d7a2.png"
                alt="HTML CSS Pro"
              />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-2">HTML CSS Pro</h3>
          <div class="course-pro__item-icon">
            <img
              src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg"
              alt=""
            />
          </div>
          <div class="course-pro__item-price">
            <span class="course-pro__item-price__old-price">2.500.000đ</span>
            <span class="course-pro__item-price__new-price">1.299.000đ</span>
          </div>
        </div>
      </div>
      <div class="course-pro__item col">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem khoá học</button>
            <div class="course-pro__item-link__img position-relative">
              <img
                class="img-fluid"
                src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                alt="HTML CSS Pro"
              />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-2">HTML CSS Pro</h3>
          <div class="course-pro__item-icon">
            <img
              src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg"
              alt=""
            />
          </div>
          <div class="course-pro__item-price">
            <span class="course-pro__item-price__old-price">2.500.000đ</span>
            <span class="course-pro__item-price__new-price">1.299.000đ</span>
          </div>
        </div>
      </div>
      <div class="course-pro__item col">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem khoá học</button>
            <div class="course-pro__item-link__img position-relative">
              <img
                class="img-fluid"
                src="https://files.fullstack.edu.vn/f8-prod/courses/27/64e184ee5d7a2.png"
                alt="HTML CSS Pro"
              />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-2">HTML CSS Pro</h3>
          <div class="course-pro__item-icon">
            <img
              src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg"
              alt=""
            />
          </div>
          <div class="course-pro__item-price">
            <span class="course-pro__item-price__old-price">2.500.000đ</span>
            <span class="course-pro__item-price__new-price">1.299.000đ</span>
          </div>
        </div>
      </div>
      <div class="course-pro__item col">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem khoá học</button>
            <div class="course-pro__item-link__img position-relative">
              <img
                class="img-fluid"
                src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                alt="HTML CSS Pro"
              />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-2">HTML CSS Pro</h3>
          <div class="course-pro__item-icon">
            <img
              src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg"
              alt=""
            />
          </div>
          <div class="course-pro__item-price">
            <span class="course-pro__item-price__old-price">2.500.000đ</span>
            <span class="course-pro__item-price__new-price">1.299.000đ</span>
          </div>
        </div>
      </div>
      <div class="course-pro__item col">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem khoá học</button>
            <div class="course-pro__item-link__img position-relative">
              <img
                class="img-fluid"
                src="https://files.fullstack.edu.vn/f8-prod/courses/27/64e184ee5d7a2.png"
                alt="HTML CSS Pro"
              />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-2">HTML CSS Pro</h3>
          <div class="course-pro__item-icon">
            <img
              src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg"
              alt=""
            />
          </div>
          <div class="course-pro__item-price">
            <span class="course-pro__item-price__old-price">2.500.000đ</span>
            <span class="course-pro__item-price__new-price">1.299.000đ</span>
          </div>
        </div>
      </div>
      <div class="course-pro__item col">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem khoá học</button>
            <div class="course-pro__item-link__img position-relative">
              <img
                class="img-fluid"
                src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                alt="HTML CSS Pro"
              />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-2">HTML CSS Pro</h3>
          <div class="course-pro__item-icon">
            <img
              src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg"
              alt=""
            />
          </div>
          <div class="course-pro__item-price">
            <span class="course-pro__item-price__old-price">2.500.000đ</span>
            <span class="course-pro__item-price__new-price">1.299.000đ</span>
          </div>
        </div>
      </div>
      <div class="course-pro__item col">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem khoá học</button>
            <div class="course-pro__item-link__img position-relative">
              <img
                class="img-fluid"
                src="https://files.fullstack.edu.vn/f8-prod/courses/27/64e184ee5d7a2.png"
                alt="HTML CSS Pro"
              />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-2">HTML CSS Pro</h3>
          <div class="course-pro__item-icon">
            <img
              src="https://fullstack.edu.vn/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg"
              alt=""
            />
          </div>
          <div class="course-pro__item-price">
            <span class="course-pro__item-price__old-price">2.500.000đ</span>
            <span class="course-pro__item-price__new-price">1.299.000đ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
