/*--------------------------------------------------------------
# freeCourses  Section featuredVideos
--------------------------------------------------------------*/
.freeCourses .icon_item,
.freeCourses .container h2 span {
  background: linear-gradient(147deg, #06d7dbdc, rgba(0, 156, 161, 0.72));
  box-shadow: inset 0.5px 0.5px 0px 1px rgb(55 249 255);
}

.featuredPosts .icon_item,
.featuredPosts .container h2 span {
  background-color: #00c;
}
.featuredVideos .icon_item,
.featuredVideos .container h2 span {
  background-color: #8900ff;
}
