<!-- End proCourse -->

<section id="freeCourses" class="your_List freeCourses container_fluid">
  <!-- ======= Free Courses Section ======= -->

  <div class="container heading">
    <p class="sub_heading">
      <strong> 300.950+ </strong>
      Người khác đã học
    </p>

    <div class="d-flex">
      <h2>
        Khóa học miễn phí
        <span> Free </span>
      </h2>
    </div>
  </div>

  <div class="list_item d-flex f-wrap gap24 container">
    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=CyZ_O7v62h4&list=PL_-VfJajZj0WSVCw3lKo2lYifzXekkv6M"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/7.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lessons-for-newbie"
        >
          Kiến Thức Nhập Môn IT
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img src="./assets/img/team/icon_users.svg" alt="icon users" />

        <span> 102.362 </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=Da1tpV9TMU0&list=PL_-VfJajZj0Uo72G_6tSY4NRLpmffeXSA"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/21/63e1bcbaed1dd.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_self"
          href="https://fullstack.edu.vn/courses/lap-trinh-c-co-ban-toi-nang-cao"
        >
          Lập trình C++ từ cơ bản tới nâng cao
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img src="./assets/img/team/icon_users.svg" alt="icon users" />

        <span> 1102.362 </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=R6plN3FvzFY&list=PL_-VfJajZj0U9nEXa4qyfB4U5ZIYCMPlz"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/2.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lap-trinh-c-co-ban-toi-nang-cao"
        >
          HTML, CSS từ Zero Tới Hero
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="./assets/img/team/icon_users.svg"
          alt="icon users"
        />

        <span> 2102.362 </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=uz5LIP85J5Y&list=PL_-VfJajZj0VkWYODGeMuraS8V7xaOZM8"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/3.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lap-trinh-c-co-ban-toi-nang-cao"
        >
          Responsive Với Grid System
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="./assets/img/team/icon_users.svg"
          alt="icon users"
        />

        <span> 2102.362 </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=0SJE9dYdpps&list=PL_-VfJajZj0VgpFpEVFzS5Z-lkXtBe-x5"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/1.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lap-trinh-c-co-ban-toi-nang-cao"
        >
          Javascript Cơ Bản
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="./assets/img/team/icon_users.svg"
          alt="icon users"
        />

        <span> 2102.362 </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=MGhw6XliFgo&list=PL_-VfJajZj0U1MSx1IMu13oLJq2nM97ac"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/12.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lap-trinh-c-co-ban-toi-nang-cao"
        >
          Javascript Nâng Cao
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="./assets/img/team/icon_users.svg"
          alt="icon users"
        />

        <span> 2102.362 </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=7ppRSaGT1uw&list=PL_-VfJajZj0XGfh528VqhlgXUfzw1Y0N7"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/14/624faac11d109.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lap-trinh-c-co-ban-toi-nang-cao"
        >
          Windows Terminal &amp; WSL
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="./assets/img/team/icon_users.svg"
          alt="icon users"
        />

        <span> 2102.362 </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=x0fSBAgBrOQ&list=PL_-VfJajZj0UXjlKfBwFX73usByw3Ph9Q"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/13/13.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lap-trinh-c-co-ban-toi-nang-cao"
        >
          ReactJS 2022
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="./assets/img/team/icon_users.svg"
          alt="icon users"
        />

        <span> 2102.362 </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=z2f7RHgvddc&list=PL_-VfJajZj0VatBpaXkEHK_UPHL7dW6I3"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/6.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lap-trinh-c-co-ban-toi-nang-cao"
        >
          Node &amp; ExpressJS
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="./assets/img/team/icon_users.svg"
          alt="icon users"
        />

        <span> 2102.362 </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=r6GWbQL-qwA&list=PL_-VfJajZj0VDCTMNnW8-EJdVd5UwWFRi"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/4/61a9e9e701506.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://fullstack.edu.vn/courses/lap-trinh-c-co-ban-toi-nang-cao"
        >
          App "Đừng Chạm Tay Lên Mặt"
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Free </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="./assets/img/team/icon_users.svg"
          alt="icon users"
        />

        <span> 2102.362 </span>
      </div>
    </div>
  </div>
</section>
<!-- End Free Courses -->
