.slide-show {
  margin-top: 16px;
  border-radius: 16px;
  height: 270px;
}

.slide-show__wrapper {
  min-height: 272px;
}

.carousel-inner {
  border-radius: 16px;
}

.slide-show__item {
  background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));
  min-width: calc(100% + 112px);
}

.slide-show__item > .item {
  display: flex;
  overflow: hidden;
}

.slide-show__item-left {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 1.6;
  max-width: 100%;
  width: 640px;
  padding: 0 36px;
}

.slide-show__item-left__title {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.5;
}

.slide-show__item-left__description {
  margin-bottom: 20px;
  margin-top: 0;
  max-width: 600px;
  font-size: 16px;
}

.slide-show__item-left__btn {
  border: 2px solid #fff;
  border-radius: 16px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  min-width: 124px;
  width: fit-content;
  padding: 4px 0px 6px 0px;
  text-align: center;
  transition: 0.2s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slide-show__item-right {
  display: flex;
  justify-content: flex-end;
}

.slide-show__item-right > img {
  height: 272px;
}

.slide-show__btn-arrow {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #4b4b4b;
  cursor: pointer;
  font-size: 1.2rem;
  height: 32px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 32px;
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 0%;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev > span,
.carousel-control-next > span {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #4b4b4b;
  cursor: pointer;
  font-size: 1.2rem;
  height: 32px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  width: 32px;
  z-index: 1;
  opacity: 1 !important;
}

.carousel-control-prev::before {
  content: "";
  color: #000;
  z-index: 99;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 2px;
}

.carousel-control-next::before {
  content: "";
  color: #000;
  z-index: 99;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 2px;
}

@media (max-width: 1023px) {
  .slide-show__item-left {
    width: 400px;
  }
  .slide-show__item {
    min-width: calc(100% + 200px);
  }
}

@media (max-width: 739px) {
  .slide-show__item-left {
    padding: 0 24px;
    width: 75%;
  }

  .slide-show__item {
    min-width: calc(100% + 80px);
  }
}
