<div class="navbar-wrapper" id="header">
  <div class="navbar-logo">
    <a href="/"
      ><img
        src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png"
        alt="F8 Logo"
    /></a>
    <h4 class="navbar-logo__title d-flex align-items-center mb-0">
      Học Lập Trình Để Đi Làm
    </h4>
  </div>
  <div class="navbar-collapse__icon"><i class="bi bi-list"></i></div>
  <div class="navbar-body">
    <div class="search-wrapper d-flex-center">
      <div class="search-wrapper__input-icon"></div>
      <input
        class="search-wrapper__input"
        spellcheck="false"
        placeholder="Tìm kiếm khóa học, bài viết, video,..."
      />
    </div>
  </div>
  <div class="navbar-search__icon"><i class="bi bi-search"></i></div>
  <div class="navbar-actions">
      <a *ngIf="authService.isAuthenticated === false" (click)="authComponent.openModal()" class="navbar-actions__login-btn">Đăng nhập</a>
      <div *ngIf="authService.isAuthenticated === true" class="d-flex align-items-center">
        <div class="navbar-action__my-learn cursor-pointer">
          Khoá học của tôi
        </div>
        <div class="navbar-action__notify d-flex align-items-center justify-content-center ms-2 me-3">
          <i class="fa-solid fa-bell"></i>
        </div>
        <div class="navbar-action__avatar d-flex align-items-center justify-content-center">
          <img class="NavBar_avatar__OG7ib" src="https://fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg" alt="Luyện Hải Đăng">
        </div>
      </div>
  </div>
</div>

<app-auth></app-auth>
