<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="row">
    <!-- <div class="container-header">
        <div class="container_personal__back">
            <i class="fa-solid fa-chevron-left"></i>
            <a href="">Quay lại</a>
        </div>
        <strong>Bài test tiếng anh</strong>
    </div> -->
    <div class="row">

        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <div class="countdown">
                <countdown [config]="{ leftTime: handleParseTimeSpan(exam.duration) ,notify: [1]}"
                    (event)="onCountdownEvent($event)"></countdown>

            </div>
            <div class="select-question">
                <button *ngFor="let question of exam.questions; let i = index" class="number-button"
                    (click)="selectQuestion(i + 1)">{{ i + 1 }}</button>


            </div>
            <div class="action">
                <button class="action-button" id="btnScore" (click)="guiDapAn()">Chấm điểm</button>
            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-9  col-lg-9">
            <div class="container-question_item">
                <!-- <button (click)="updateDurationTime()">Button A</button> -->

                <div *ngFor="let question of exam.questions; let i = index" class="question_item">
                    <div class="question_item-title">
                        <h3 [innerHTML]="question.title"></h3>
                    </div>

                    <label *ngFor="let answer of question.answers" class="answer-option  custom-radio">
                        <label class="custom-radio"> 
                            <input type="radio" [name]="'answer' + i" [value]="answer.id"
                                [(ngModel)]="selectedAnswers[i]">
                            <span class="radio-btn"></span>
                        </label>
                        <label class="answer_content" [innerHTML]="answer.content">
                        </label>
                    </label>

                    <!-- <label *ngFor="let answer of question.answers; let i=index" class="answer-option">
                        <label class="custom-radio">
                            <input type="radio" [name]="'answer'+question.id" [value]="answer.id"
                                [(ngModel)]="selectedAnswers[i]">
                            <span class="radio-btn"></span>
                        </label>
                        <label class="answer_content" [innerHTML]="answer.content">
                        </label>
                    </label> -->
                </div>

            </div>

        </div>
    </div>
</div>




<div *ngIf="showResultModal" class="modal-overlay">
    <div id="questionResult">
        <button class="btnX" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
        <div class="totalScore">
            <Strong>Tổng điểm của bạn là</Strong>
            <h3>{{ result.totalScore }}</h3>
        </div>
        <div class="totalCountFalse">
            <Strong>Số câu sai là</Strong>
            <h3>{{ result.totalCountFalse }}</h3>
        </div>
        <div class="totalCountTrue">
            <Strong>Số câu đúng là</Strong>
            <h3>{{ result.totalCountTrue }}</h3>
        </div>
        <button (click)="closeModal()" class="confirm-btn">Xác nhận</button>

    </div>

</div>









<!-- <div *ngFor="let question of questions; let i = index" class="question_item">
                    <div class="question_item-title">
                        <strong>Câu hỏi {{ i + 1 }}</strong>
                        <h3 [innerHTML]="question.title"></h3>
                    </div>
                    <div class="question-answer">
                        <label *ngFor="let answer of question.questionAnswers" class="answer-option">
                            <input type="radio" [name]="'answer' + i" [value]="answer.id">
                            <p [innerHTML]="answer.content"></p>
                        </label>
                    </div>
                </div> -->