<div class="tree-ul ml-3 position-relative">
    <div *ngFor="let category of categories" class="tree-li cursor-pointer mt-1" (click)="handleOnClickMenu($event,category)" [class.active]="category.id === questionCategoryTreeService.activeCategoryId">
      <i *ngIf="category.questionCategories" class="fa-solid fa-sort-down position-absolute position-left-3"></i>
      <i class="fa-solid fa-folder text-warning mr-1"></i> <span [class.active]="category.id === activeCategoryId">{{ category.name }}</span>
      <app-question-category-tree *ngIf="category.isExpanded && category.questionCategories" [categories]="category.questionCategories" [activeCategoryId]="activeCategoryId"></app-question-category-tree>
    </div>
</div>
