<div class="home_wrapper">
    <div class="ScrollList_heading-wrap__58LQx">
        <h2 class="ScrollList_heading"><span rel="noreferrer" target="_self">Khóa học Pro<span
                    class="ScrollList_label__moi">Mới</span></span>
        </h2>
    </div>
    <div class="ScrollList_body">
        <section class="index-module_row">
            <section
                class="index-module_col__2 index-module_c-12 index-module_m-4 index-module_l-3">
                <div class="CommonItem_wrapper__1 Home_courseItem"><a
                        class="CommonItem_link CommonItem_has-link" title="HTML CSS Pro" target="_self"
                        href="/landing/htmlcss/"><button class="Button_btn CommonItem_cta-btn__OK">Xem khóa
                            học</button><img class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                            alt="HTML CSS Pro"></a>
                    <h3 class="CommonItem_title"><a target="_self" href="/landing/htmlcss/">HTML CSS Pro</a></h3>
                    <div class="CourseItem_pro-icon"><img
                            src="/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg" alt=""></div>
                    <div class="price"><span class="CourseItem_old-price">2.500.000đ</span><span
                            class="CourseItem_main-price">1.299.000đ</span></div>
                </div>
            </section>
            <section
                class="index-module_col__2 index-module_c-12 index-module_m-4 index-module_l-3">
                <div class="CommonItem_wrapper__1 Home_courseItem"><a
                        class="CommonItem_link CommonItem_has-link" title="Ngôn ngữ tiền xử lý Sass"
                        target="_self" href="/landing/sass/"><button
                            class="Button_btn CommonItem_cta-btn__OK">Xem khóa học</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/courses/27/64e184ee5d7a2.png"
                            alt="Ngôn ngữ tiền xử lý Sass"></a>
                    <h3 class="CommonItem_title"><a target="_self" href="/landing/sass/">Ngôn ngữ tiền xử lý
                            Sass</a></h3>
                    <div class="CourseItem_pro-icon"><img
                            src="/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg" alt=""></div>
                    <div class="price"><span class="CourseItem_old-price">400.000đ</span><span
                            class="CourseItem_main-price">299.000đ</span></div>
                </div>
            </section>

            <!-- khác  -->
            <section
                class="index-module_col__2 index-module_c-12 index-module_m-4 index-module_l-3">
                <div class="CommonItem_wrapper__1 Home_courseItem"><span class="CommonItem_link"
                        title="JavaScript Pro" target="_self"><button
                            class="Button_btn CommonItem_cta-btn__OK">Xem khóa học</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/courses/19/62f13cb607b4b.png"
                            alt="JavaScript Pro"></span>
                    <h3 class="CommonItem_title"><span target="_self">JavaScript Pro</span></h3>
                    <div class="CourseItem_pro-icon"><img
                            src="/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg" alt=""></div>
                    <div class="price"></div>
                </div>
            </section>
            <section
                class="index-module_col__2 index-module_c-12 index-module_m-4 index-module_l-3">
                <div class="CommonItem_wrapper__1 Home_courseItem"><span class="CommonItem_link"
                        title="NextJS Pro" target="_self"><button
                            class="Button_btn CommonItem_cta-btn__OK">Xem khóa học</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/courses/20/648020fc16597.png"
                            alt="NextJS Pro"></span>
                    <h3 class="CommonItem_title"><span target="_self">NextJS Pro</span></h3>
                    <div class="CourseItem_pro-icon"><img
                            src="/static/media/crown_icon.3e4800f7485935ab6ea312a7080a85fe.svg" alt=""></div>
                    <div class="price"></div>
                </div>
            </section>
        </section>
    </div>
</div>