.main-app {
  display: flex;
  min-height: 100vh;
  margin-top: 66px;
}

.sidebar {
  flex-shrink: 0;
}

.main-content {
  max-width: calc(100% - 96px);
  padding: 0 28px 0 28px;
  flex: 1 1;
}

@media (max-width: 1171px) {
  .main-content {
    max-width: calc(100% - 160px);
  }
}

@media (max-width: 992px) {
  .main-app {
    display: unset;
  }

  .main-content {
    max-width: 100%;
    padding: 0 20px;
  }
}
