.container-description{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Số ký tự tối đa bạn muốn hiển thị */
}
.container-title{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Số ký tự tối đa bạn muốn hiển thị */
}
.container-image{
   width: 100px;
   height: 60px;
   border-radius: 5px;
}

