<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0">Quản lý đề thi</h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li routerLink="/admin/dashboard" class="breadcrumb-item d-flex align-items-center">
            <span>Trang chủ</span>
            <i class="breadcrumb-item-arrow fa-solid fa-angle-right"></i>
          </li>
          <li class="breadcrumb-item active">
            <span>Chỉnh sửa đề thi</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-8">
    <div class="card">
      <div class="card-header bg-info text-white">
        Chi tiết đề thi
      </div>
      <div class=" card-body  add-exam">

        <div class="modal-body overflow-hidden px-4">
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 col-lg-3 col-form-label" for="title">Tên đề kiểm tra <span
                  class="text-danger">*</span></label>
              <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                <input class="form-control" id="title" name="title" type="text" required placeholder="Tiêu đề"
                  [(ngModel)]="exam.title"  />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 col-lg-3 col-form-label" for="description">Mô tả</label>
              <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                <input class="form-control" placeholder="Mô tả" name="description" id="description" type="text"
                  [(ngModel)]="exam.description"  />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 col-lg-3 col-form-label" for="start">Thời gian bắt đầu</label>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-6 ps-0">
                    <input [(ngModel)]="exam.startTime" class="form-control" placeholder="Từ" name="start" id="start"
                      type="datetime-local" />
                  </div>
                  <div class="col-6">
                    <input [(ngModel)]="exam.endTime" class="form-control" placeholder="Đến" name="end" id="end"
                      type="datetime-local" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 col-lg-3 col-form-label" for="duration">Thời gian làm bài</label>
              <div class="col-md-9 col-lg-8 col-table-reponsive p-0 relative">
                <input [(ngModel)]="exam.duration" class="form-control" placeholder="Thời gian làm bài" name="duration"
                  id="duration" type="text" />
                <p class="minutes">Phút</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row border-collapse">

              <label class="col-md-3 col-lg-3 col-form-label" for="description">Chương</label>
              <div class="col-md-9 col-lg-8 col-table-reponsive p-0" disabled>
                <span *ngFor="let section of exam.sections;">{{ section.title }} </span>

              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="row border-collapse">

              <label class="col-md-3 col-lg-3 col-form-label" for="description">Giao cho </label>
              <div class="col-md-9 col-lg-8 col-table-reponsive p-0" disabled>
                <span *ngFor="let groupmodule of exam.groupmodules;">{{ groupmodule.name }} </span>
              </div>

            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 col-lg-3 col-form-label" for="description">Số câu dễ</label>
              <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                <input class="form-control" placeholder="Số câu dễ" name="description" id="description" type="text"
                  [(ngModel)]="exam.numberQuestionEasy"  />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 col-lg-3 col-form-label" for="description">Số câu trung bình</label>
              <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                <input class="form-control" placeholder="Số câu trung bình" name="description" id="description"
                  type="text" [(ngModel)]="exam.numberQuestionModerate"  />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-md-3 col-lg-3 col-form-label" for="description">Số câu khó</label>
              <div class="col-md-9 col-lg-8 col-table-reponsive p-0">
                <input class="form-control" placeholder="Số câu khó" name="description" id="description" type="text"
                  [(ngModel)]="exam.numberQuestionDifficult"  />
              </div>
            </div>
          </div>

         

        

        </div>


      </div>
    </div>
  </div>


  <div class="col-xl-4">
    <div class="card">
      <div class="card-header bg-info text-white">
        Cấu hình
      </div>
      <div class="card-body ps-5 pe-3 py-0">
        <div class="custom-control custom-switch ml-3" dir="ltr">
          <input type="checkbox" class="custom-control-input" id="status" name="status" [checked]="exam.status"
            >
          <label class="custom-control-label" for="status">Trạng thái</label>
        </div>
        <div class="custom-control custom-switch ml-3" dir="ltr">
          <input type="checkbox" class="custom-control-input" id="isSeeScore" name="isSeeScore"
            [checked]="exam.isSeeScore" >
          <label class="custom-control-label" for="isSeeScore">Xem điểm sau khi thi</label>
        </div>
        <div class="custom-control custom-switch ml-3" dir="ltr">
          <input type="checkbox" class="custom-control-input" id="isShowContent" name="isShowContent"
            [checked]="exam.isShowContent" >
          <label class="custom-control-label" for="isShowContent">Xem bài làm khi thi xong</label>
        </div>
        <div class="custom-control custom-switch ml-3" dir="ltr">
          <input type="checkbox" class="custom-control-input" id="isMixQuestion" name="isMixQuestion"
            [checked]="exam.isMixQuestion" >
          <label class="custom-control-label" for="isMixQuestion">Đảo câu hỏi</label>
        </div>
        <div class="custom-control custom-switch ml-3" dir="ltr">
          <input type="checkbox" class="custom-control-input" id="isMixQuestionAnswer" name="isMixQuestionAnswer"
            [checked]="exam.isMixQuestionAnswer" >
          <label class="custom-control-label" for="isMixQuestionAnswer">Đảo đáp án</label>
        </div>
        <div class="custom-control custom-switch ml-3" dir="ltr">
          <input type="checkbox" class="custom-control-input" id="isAllowChangeTab" name="isAllowChangeTab"
            [checked]="exam.isAllowChangeTab" >
          <label class="custom-control-label" for="isAllowChangeTab">Tự động nộp bài khi chuyển tab</label>
        </div>
      </div>
    </div>

  </div>

</div>