@import url("~@fortawesome/fontawesome-free/css/all.min.css");
@import url("./admin/assets/css/bootstrap.css");
@import url("~bootstrap-icons/font/bootstrap-icons.min.css");
@import url("./admin/assets/css/app.css");
@import url('~sweetalert2/dist/sweetalert2.min.css');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('~ngx-toastr/toastr');
@import url('./core/styles/loading-ui.css');
@import url('./core/styles/text.css');
@import url('./core/styles/toastr.css');

/* cursor */
.cursor-pointer{
    cursor: pointer;
}

/* font-weight */
.fw-700{
    font-weight: 700 !important;
}

/* font-size */
.fs-r-1{
    font-size: 1rem !important;
}

.fs-12{
    font-size: 12px;
}

/* border */
.bb-0{
    border-bottom: 0 !important;
}
