<div class="vertical-menu bg-dark-ui">

    <div id="simplebar" data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li routerLink="/admin/dashboard">
                    <a class="waves-effect {{ currentUrl === '/admin/dashboard' ? 'active' : '' }}">
                        <i class="ri-dashboard-line"></i>
                        <span>Trang điều khiển</span>
                    </a>
                </li>

                <li routerLink="/admin/teacher">
                    <a class="waves-effect" [class.active]="isActive('/admin/teacher')">
                        <i class="ri-dashboard-line"></i>
                        <span>Quản lý giáo viên</span>
                    </a>
                </li>

                <li routerLink="/admin/course">
                    <a class="waves-effect {{ currentUrl === '/admin/course' ? 'active' : '' }}">
                        <i class="ri-dashboard-line"></i>
                        <span>Quản lý khoá học</span>
                    </a>
                </li>

                <li>
                    <a class="waves-effect navigation-menu-main {{ currentUrl === '/admin/course' ? 'active' : '' }}">
                        <i class="fa-regular fa-circle-question pb-0"></i>
                        <span>Ngân hàng câu hỏi</span>
                    </a>

                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-starter.html">Starter Page</a></li>
                        <li><a href="pages-maintenance.html">Maintenance</a></li>
                        <li><a href="pages-comingsoon.html">Coming Soon</a></li>
                        <li><a href="pages-timeline.html">Timeline</a></li>
                        <li><a href="pages-faqs.html">FAQs</a></li>
                        <li><a href="pages-pricing.html">Pricing</a></li>
                        <li><a href="pages-404.html">Error 404</a></li>
                        <li><a href="pages-500.html">Error 500</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
