<div class="vertical-menu bg-dark-ui">

    <div id="simplebar" data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li routerLink="/admin/dashboard">
                    <a class="waves-effect {{ currentUrl === '/admin/dashboard' ? 'active' : '' }}">
                        <i class="ri-dashboard-line"></i>
                        <span>Trang điều khiển</span>
                    </a>
                </li>

                <li routerLink="/admin/teacher">
                    <a class="waves-effect" [class.active]="isActive('/admin/teacher')">
                        <i class="ri-dashboard-line"></i>
                        <span>Quản lý giáo viên</span>
                    </a>
                </li>
                <li routerLink="/admin/student">
                    <a class="waves-effect" [class.active]="isActive('/admin/student')">
                        <i class="ri-dashboard-line"></i>
                        <span>Quản lý sinh viên</span>
                    </a>
                </li>
                <!-- <li routerLink="/admin/post">
                    <a class="waves-effect" [class.active]="isActive('/admin/post')">
                        <i class="ri-dashboard-line"></i>
                        <span>Quản lý bài viết</span>
                    </a>
                </li> -->
                <!-- them -->
                <li class="{{ currentUrl === '/admin/post' ? 'mm-active' : '' }}">
                    <a class="waves-effect navigation-menu-main d-flex justify-content-between {{ currentUrl === '/admin/post' ? 'active' : '' }}">
                        <div class="navigation-label">
                            <i class="fa-regular fa-circle-question pb-0"></i>
                            <span>Quản lý bài viết</span>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                
                    <ul class="sub-menu {{ currentUrl === '/admin/post' ? 'mm-show' : '' }}">
                        <li class="cursor-pointer" routerLink="/admin/post">
                            <a class="{{ currentUrl === '/admin/post' ? 'active' : '' }}">Danh sách bài viết</a>
                        </li>
                        <li class="cursor-pointer" routerLink="/admin/post/approve">
                            <a class="{{ currentUrl === '/admin/post/approve' ? 'active' : '' }}">Kiểm duyệt bài viết</a>
                        </li>
                        <li class="cursor-pointer" routerLink="/admin/post/comment-approve">
                            <a class="{{ currentUrl === '/admin/post/comment-approve' ? 'active' : '' }}">Kiểm duyệt bình luận</a>
                        </li>
                    </ul>
                </li>
                
                <!--  -->
                <li routerLink="/admin/course">
                    <a class="waves-effect {{ currentUrl === '/admin/course' ? 'active' : '' }}">
                        <i class="ri-dashboard-line"></i>
                        <span>Quản lý khoá học</span>
                    </a>
                </li>

                <li class="{{ isActive('/admin/question') || isActive('/admin/question-category')  ? 'mm-active' : '' }}">
                    <a class="waves-effect navigation-menu-main d-flex justify-content-between {{ isActive('/admin/question') ? 'active' : '' }}">
                        <div class="navigation-label">
                            <i class="fa-regular fa-circle-question pb-0"></i>
                            <span>Ngân hàng câu hỏi</span>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </a>

                    <ul class="sub-menu {{ currentUrl === '/admin/question' ? 'mm-show' : '' }}">
                        <li class="cursor-pointer" routerLink="/admin/question"><a class="{{ currentUrl === '/admin/question' ? 'active' : '' }}">Quản lý câu hỏi</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>