<footer class="Footer_wrapper">
  <section
    class="index-module_grid index-module_wide"
    style="max-width: 1100px"
  >
    <section class="index-module_row">
      <section
        class="index-module_col__lap4 index-module_c-25 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="Footer_column">
          <div>
            <div class="Footer_column-top d-flex align-items-center">
              <span
                ><img
                  class="Footer_top-logo"
                  src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png"
                  alt="F8"
              /></span>
              <h2 class="Footer_top-slogan">Học Lập Trình Để Đi Làm</h2>
            </div>
            <p class="Footer_contact-list d-flex flex-column mt-4">
              <span
                >Điện thoại: <a href="tel:0246.329.1102">0246.329.1102</a></span
              >
              <span
                >Email:
                <a href="mailto:contact@fullstack.edu.vn"
                  >contact@fullstack.edu.vn</a
                ></span
              >
              <span
                >Số 11D, lô A10, khu đô thị Nam Trung Yên, Phường Yên Hòa, Quận
                Cầu Giấy, TP. Hà Nội</span
              >
            </p>
            <div class="my-4">
              <a
                href="https://www.dmca.com/Protection/Status.aspx?id=1b325c69-aeb7-4e32-8784-a0009613323a&amp;refurl=https%3a%2f%2ffullstack.edu.vn%2f&amp;rlo=true"
                target="_blank"
                rel="noreferrer"
                title="DMCA Protected"
                ><img
                  class="Footer_dmca__70ZIa"
                  src="https://fullstack.edu.vn/static/media/dmca.2593d9ecf1c982e3c3a2.png"
                  alt="DMCA"
              /></a>
            </div>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-16 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="Footer_column">
          <div>
            <h2 class="Footer_heading footer-default-heading-text">Về F8</h2>
            <ul class="Footer_list">
              <li class="mb-2">
                <span class="footer-default-text">Giới thiệu</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Liên hệ</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Điều khoản</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Bảo mật</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Cơ hội việc làm</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-16 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="Footer_column">
          <div>
            <h2 class="Footer_heading footer-default-heading-text">Sản phẩm</h2>
            <ul class="Footer_list">
              <li class="mb-2">
                <span class="footer-default-text">Game Nester</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Game CSS Diner</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Game CSS Selectors</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Game Froggy</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Game Froggy Pro</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Game Scoops</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-16 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="Footer_column">
          <div>
            <h2 class="Footer_heading footer-default-heading-text">Công cụ</h2>
            <ul class="Footer_list">
              <li class="mb-2">
                <span class="footer-default-text">Tạo CV xin việc</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Rút gọn liên kết</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Clip-path maker</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Snippet generator</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">CSS Grid generator</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text">Cảnh báo sờ tay lên mặt</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-25 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="Footer_column">
          <div>
            <h2 class="Footer_heading footer-default-heading-text">
              CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC F8
            </h2>
            <ul class="Footer_list">
              <li class="mb-2">
                <span class="footer-default-text">Mã số thuế: 0109922901</span>
              </li>
              <li class="mb-2">
                <span class="footer-default-text"
                  >Ngày thành lập: 04/03/2022</span
                >
              </li>
              <li class="mb-2">
                <span class="footer-default-text"
                  >Lĩnh vực: Công nghệ, giáo dục, lập trình. F8 xây dựng và phát
                  triển những sản phẩm mang lại giá trị cho cộng đồng.</span
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
    </section>
    <section class="index-module_row">
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="Footer_bottom">
          <p class="Footer_copyright footer-default-text mb-0">
            © 2018 - 2023 F8. Nền tảng học lập trình hàng đầu Việt Nam
          </p>
          <span class="ms-2 cursor-pointer">Đăng xuất</span>
          <div class="Footer_social-list d-flex align-items-center gap-3">
            <i class="fa-brands fa-youtube Footer_youtube"></i>
            <i class="fa-brands fa-facebook Footer_facebook__9kuWE"></i>
            <i class="fa-brands fa-tiktok"></i>
          </div>
        </div>
      </section>
    </section>
  </section>
</footer>
