<p>footer works!</p>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="container Footer_wrapper">
    <div class="d-flex align-items-start justify-content-center gap24">
      <div class="item_Wrap f-column">
        <div class="d-flex align-items-center">
          <div class="headerFooter_logo">
            <a class="rotateBgrWrap" href="/">
              <img
                loading="lazy"
                class="Footer_top-logo"
                src="	https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png"
                alt="F8"
              />
            </a>
          </div>
          <h2 class="Footer_top-slogan actionSlogans">
            Học Lập Trình Để Đi Làm
          </h2>
        </div>

        <p class="Footer_contact-list">
          Điện thoại:
          <a class="Footer_list--link" href="tel:0246.329.1102"
            >0246.329.1102</a
          >
          <br />
          Email:
          <a href="mailto:contact@fullstack.edu.vn" class="Footer_list--link"
            >contact@fullstack.edu.vn
          </a>
          <br />
          Địa chỉ: Số 26 Dương Đình Nghệ, Phường Yên Hòa, Quận Cầu Giấy, TP. Hà
          Nội
        </p>
      </div>

      <div class="item_Wrap f-column">
        <div>
          <h2 class="heading">Về F8</h2>
          <ul class="Footer_list">
            <li>
              <a class="Footer_list--link" href="/about-us">Giới thiệu</a>
            </li>
            <li><a class="Footer_list--link" href="/contact-us">Liên hệ</a></li>
            <li><a class="Footer_list--link" href="/terms">Điều khoản</a></li>
            <li><a class="Footer_list--link" href="/privacy">Bảo mật</a></li>
            <li>
              <a class="Footer_list--link" href="/careers">Cơ hội việc làm</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="item_Wrap f-column">
        <div>
          <h2 class="heading">Sản phẩm</h2>
          <ul class="Footer_list">
            <li>
              <a
                class="Footer_list--link"
                href="https://nester.fullstack.edu.vn"
                target="_blank"
                rel="noreferrer"
                >Game Nester</a
              >
            </li>
            <li>
              <a
                class="Footer_list--link"
                href="https://css-diner.fullstack.edu.vn"
                target="_blank"
                rel="noreferrer"
                >Game CSS Diner</a
              >
            </li>
            <li>
              <a
                class="Footer_list--link"
                href="https://css-selectors-cheatsheet.fullstack.edu.vn"
                target="_blank"
                rel="noreferrer"
              >
                Game CSS Selectors
              </a>
            </li>
            <li>
              <a
                class="Footer_list--link"
                href="https://froggy.fullstack.edu.vn"
                target="_blank"
                rel="noreferrer"
              >
                Game Froggy
              </a>
            </li>
            <li>
              <a
                class="Footer_list--link"
                href="https://froggy-pro.fullstack.edu.vn"
                target="_blank"
                rel="noreferrer"
                >Game Froggy Pro</a
              >
            </li>
            <li>
              <a
                class="Footer_list--link"
                href="https://css-scoops.fullstack.edu.vn"
                target="_blank"
                rel="noreferrer"
                >Game Scoops</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="item_Wrap f-column">
        <div>
          <h2 class="heading">Công cụ</h2>
          <ul class="Footer_list">
            <li>
              <a
                class="Footer_list--link"
                href="https://cv.fullstack.edu.vn/"
                target="_blank"
                rel="noreferrer"
                >Tạo CV xin việc</a
              >
            </li>
            <li>
              <a class="Footer_list--link" href="/shorten-urls"
                >Rút gọn liên kết</a
              >
            </li>
            <li>
              <a
                class="Footer_list--link"
                href="https://clippy.fullstack.edu.vn/"
                target="_blank"
                rel="noreferrer"
                >Clip-path maker</a
              >
            </li>
            <li>
              <a
                class="Footer_list--link"
                href="https://snippet-generator.fullstack.edu.vn/"
                target="_blank"
                rel="noreferrer"
              >
                Snippet generator
              </a>
            </li>
            <li>
              <a
                class="Footer_list--link"
                href="https://botayra.fullstack.edu.vn/"
                target="_blank"
                rel="noreferrer"
              >
                Cảnh báo sờ tay lên mặt
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="item_Wrap f-column">
        <div>
          <h2>
            <a
              class="Footer_list--link"
              class="heading"
              target="_blank"
              href="https://www.google.com/search?q=C%C3%94NG+TY+C%E1%BB%94+PH%E1%BA%A6N+C%C3%94NG+NGH%E1%BB%86+GI%C3%81O+D%E1%BB%A4C+F8"
              rel="noreferrer"
            >
              CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC F8
            </a>
          </h2>
          <ul class="Footer_list">
            <li>Mã số thuế: 0109922901</li>
            <li>Ngày thành lập: 04/03/2022</li>
            <li>
              Lĩnh vực: Công nghệ, giáo dục, lập trình. F8 xây dựng và phát
              triển những sản phẩm mang lại giá trị cho cộng đồng.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="d-f-center">
      <p class="Footer_copyright">
        © 2018 - 2023 F8. Nền tảng học lập trình hàng đầu Việt Nam
      </p>
    </div>
  </div>
</footer>
<!-- End Footer -->
