<app-layout></app-layout>

<li _ngcontent-ng-c2562201830="" class="ng-star-inserted">
  <a
    _ngcontent-ng-c2562201830=""
    class="d-flex justify-content-between navigation-menu-main ok waves-effect ng-star-inserted mm-collapsed"
    aria-expanded="false"
    >
    <div _ngcontent-ng-c2562201830="" class="navigation-label">
      <i _ngcontent-ng-c2562201830=""
        class="fa-school fa-solid pb-0 ng-star-inserted"
      ></i
      ><span _ngcontent-ng-c2562201830="">Khoá học</span>
    </div>
    <i
      _ngcontent-ng-c2562201830=""
      class="fa-solid fa-angle-down ng-star-inserted"
    ></i
  ></a>

</li>

<li _ngcontent-ng-c2562201830="" class="ng-star-inserted">
  <a
    _ngcontent-ng-c2562201830=""
    class="d-flex justify-content-between navigation-menu-main ok waves-effect ng-star-inserted"
    aria-expanded="false"
    >
    <div _ngcontent-ng-c2562201830="" class="navigation-label">
      <i _ngcontent-ng-c2562201830=""
        class="fa-school fa-solid pb-0 ng-star-inserted"
      ></i
      ><span _ngcontent-ng-c2562201830="">Khoá học</span>
    </div>
    <i
      _ngcontent-ng-c2562201830=""
      class="fa-solid fa-angle-down ng-star-inserted"
    ></i
  ></a>
  <ul
    _ngcontent-ng-c2562201830=""
    class="sub-menu mm-collapsing mm-collapse ng-star-inserted"
    style="height: 32px"
  >
    <li
      _ngcontent-ng-c2562201830=""
      class="cursor-pointer ng-star-inserted"
      tabindex="0"
      ng-reflect-router-link="/course/info"
    >
      <a _ngcontent-ng-c2562201830="" class="">Thông tin khoá học</a>
    </li>
  </ul>
</li>
