<h4>
  Internal server error - refreshing the page will make the error disappear
</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note: If you are seeing this then angular is probadly not to blame
  </p>
  <ol>
    <li>
      Open chrome dev tools! Then check the failing request inthe network tab
    </li>
    <li>Examine the request URL - What API endpoint are you requesting</li>
    <li>Reproduce the problem in Postman</li>
  </ol>
  <p style="font-weight: bold">Following is the stack trace</p>
  <code class="mt-5" style="background-color: whitesmoke">
    {{ error.details }}
  </code>
</ng-container>
