


.container {
    display: flex;
    justify-content: space-between;
}
.add-exam{
  background-color: #fff;
  padding: 20px;
}
.config-section {
  background-color: #fff;
  padding: 0 20px;
  border-radius: 8px;
  margin: 10px;
  width: 30%;
  padding-left: 40px;
}
.form-section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    width: 70%;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    color: #666;
}


.custom-switch {
   padding: 10px 0; 
} 


.small-input {
    width: 50px;
    display: inline-block;
}

span {
    margin-left: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.toggle {
    margin-top: 20px;
}

.toggle input[type="checkbox"] {
    margin-right: 10px;
}

.width-50{
  width: 50%;
}
.width-50p{
  width: 50% !important
  ;
}
.relative{
  position: relative;
}
.minutes {
  position: absolute;
  top: 40%;
  right: -22px;
  transform: translate(-50%,-50%);
  padding: 8px;
  background-color: #ccc;
  border-radius:5px ;
}
.border-collapse{
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.create-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; 
  color: white; 
  transition: background-color 0.3s;
}

.create-btn:hover {
  background-color: #45a049; 
}



.exam-form label{
  margin-top: 0 !important;
}

:host ::ng-deep .title-editor .ck-editor__editable_inline {
  min-height: 100px;
}

.input-form-space{
  margin-left: 12px;
  width: calc(100% - 12px) !important;
}

.border-right-none{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.border-left-none{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-type-select{
  border: 1px solid #ced4da;
}

.app-search .form-control {
  border: 1px solid #ced4da !important;
  height: 38px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: unset !important;
  box-shadow: none;
  border-radius: unset !important;
}

.input-type-select{
  min-height: 38px !important;
}

.add-tag-btn{
  border-radius: 100%;
}

.add-tag-input{
  width: 160px;
  font-size: 11px;
}
