<div class="App_withSidebarContent">
  <section
    class="index-module_grid index-module_fullWidth"
    style="max-width: 1920px"
  >
    <div class="DefaultLayout_container">
      <div class="DefaultLayout_container-top">
        <h1 class="DefaultLayout_heading student-header__default-title my-4">
          Lộ trình học
        </h1>
        <div class="MarkdownParser_wrapper DefaultLayout_desc">
          <p>
            Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình
            học. Ví dụ: Để đi làm với vị trí "Lập trình viên Front-end" bạn nên
            tập trung vào lộ trình "Front-end".
          </p>
        </div>
      </div>
      <div class="container-body">
        <div class="LearningPathsList_content">
          <div class="LearningPathItem_wrapper">
            <div class="LearningPathItem_body">
              <div class="LearningPathItem_info">
                <h2
                  class="LearningPathItem_title student-header__default-title mb-4"
                >
                  Lộ trình học Front-end
                </h2>
                <p
                  class="LearningPathItem_desc student-paragraphs__default-text"
                >
                  Lập trình viên Front-end là người xây dựng ra giao diện
                  websites. Trong phần này F8 sẽ chia sẻ cho bạn lộ trình để trở
                  thành lập trình viên Front-end nhé.
                </p>
              </div>
              <div class="LearningPathItem_thumb-wrap">
                <a
                  class="LearningPathItem_thumb-round"
                  href="/learning-paths/front-end-development"
                  ><img
                    class="LearningPathItem_thumb"
                    src="https://files.fullstack.edu.vn/f8-prod/learning-paths/2/63b4642136f3e.png"
                    alt="Lộ trình học Front-end"
                /></a>
              </div>
            </div>
            <div>
              <a
                class="Button_btn Button_primary LearningPathItem_view-detail"
                href="/learning-paths/front-end-development"
                >Xem chi tiết</a
              >
            </div>
          </div>
          <div class="LearningPathItem_wrapper">
            <div class="LearningPathItem_body">
              <div class="LearningPathItem_info">
                <h2
                  class="LearningPathItem_title student-header__default-title mb-4"
                >
                  Lộ trình học Back-end
                </h2>
                <p
                  class="LearningPathItem_desc student-paragraphs__default-text"
                >
                  Trái với Front-end thì lập trình viên Back-end là người làm
                  việc với dữ liệu, công việc thường nặng tính logic hơn. Chúng
                  ta sẽ cùng tìm hiểu thêm về lộ trình học Back-end nhé.
                </p>
              </div>
              <div class="LearningPathItem_thumb-wrap">
                <a
                  class="LearningPathItem_thumb-round"
                  href="/learning-paths/back-end-development"
                  ><img
                    class="LearningPathItem_thumb"
                    src="https://files.fullstack.edu.vn/f8-prod/learning-paths/3/63b4641535b16.png"
                    alt="Lộ trình học Back-end"
                /></a>
              </div>
            </div>
            <div>
              <a
                class="Button_btn Button_primary LearningPathItem_view-detail"
                href="/learning-paths/back-end-development"
                >Xem chi tiết</a
              >
            </div>
          </div>
        </div>
        <div class="SuggestionBox_wrapper">
          <div class="SuggestionBox_info">
            <h2>Tham gia cộng đồng học viên F8 trên Facebook</h2>
            <p>
              Hàng nghìn người khác đang học lộ trình giống như bạn. Hãy tham
              gia hỏi đáp, chia sẻ và hỗ trợ nhau trong quá trình học nhé.
            </p>
            <a
              class="SuggestionBox_cta"
              target="_blank"
              href="https://www.facebook.com/groups/f8official"
              rel="noopener"
              >Tham gia nhóm</a
            >
          </div>
          <div class="SuggestionBox_image">
            <img
              src="https://fullstack.edu.vn/static/media/fb-group-cards.4bd525b1b8baf7b1e5a2.png"
              alt="Học lập trình web (F8 - Fullstack.edu.vn)"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
