<!-- ======= Featured Videos Section ======= -->
<section id="Featured_Videos" class="your_List featuredVideos container_fluid">
  <div class="container heading container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex">
        <h2>
          Video nổi bật
          <span> Video </span>
        </h2>
      </div>
      <a class="view_all" rel="noreferrer" target="_self" href="/blog"
        >Xem tất cả &gt;</a
      >
    </div>
  </div>

  <div class="list_item d-flex f-wrap gap24 container">
    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://youtu.be/DpvYHLUiZpc"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(255, 255, 255, 0) 50%
            ),
            url('https://i.ytimg.com/vi/DpvYHLUiZpc/maxresdefault.jpg');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem Video</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_parent"
          href="https://youtu.be/DpvYHLUiZpc"
        >
          Phương pháp học lập trình của Admin F8?
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Video </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/623d4b2d95cec.png"
          alt="Sơn Đặng"
        />
        <span class="">Sơn Đặng</span>
        <span class=""> 5.409</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=oF7isq9IjZM"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(255, 255, 255, 0) 50%
            ),
            url('https://i.ytimg.com/vi/oF7isq9IjZM/maxresdefault.jpg');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem Video</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://www.youtube.com/watch?v=oF7isq9IjZM"
        >
          Làm sao để có thu nhập cao và đi xa hơn trong ngành IT?
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Video </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/623d4b2d95cec.png"
          alt="Sơn Đặng"
        />
        <span class="">Sơn Đặng</span>
        <span class="">12 phút đọc</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=YH-E4Y3EaT4"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(255, 255, 255, 0) 50%
            ),
            url('https://i.ytimg.com/vi/YH-E4Y3EaT4/maxresdefault.jpg');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem Video</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://www.youtube.com/watch?v=YH-E4Y3EaT4"
        >
          Sinh viên IT đi thực tập cần biết những gì?
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Video </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://graph.facebook.com/1642531882604203/picture?width=400&height=400"
          alt="Sơn Đặng"
        />
        <span class="">Black Cat</span>
        <span class="">1 phút đọc</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=G19jZzK5FWI"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(255, 255, 255, 0) 50%
            ),
            url('https://i.ytimg.com/vi/G19jZzK5FWI/maxresdefault.jpg');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem Video</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://www.youtube.com/watch?v=G19jZzK5FWI"
        >
          Học Flexbox CSS qua ví dụ
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Video </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://files.fullstack.edu.vn/f8-prod/user_avatars/18159/63465328ecec4.jpg"
          alt="Sơn Đặng"
        />
        <span class="">Võ Minh Kha</span>
        <span class="">4 phút đọc</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=0SJE9dYdpps"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(255, 255, 255, 0) 50%
            ),
            url('https://i.ytimg.com/vi/0SJE9dYdpps/maxresdefault.jpg');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem Video</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://www.youtube.com/watch?v=0SJE9dYdpps"
        >
          Javascript có thể làm được gì? Giới thiệu về Javascript
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Video </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
          alt="Sơn Đặng"
        />
        <span class="">Vương Dương</span>
        <span class="">2 phút đọc</span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/watch?v=x0fSBAgBrOQ"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.5),
              rgba(255, 255, 255, 0) 50%
            ),
            url('https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem Video</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link"
          target="_blank"
          href="https://www.youtube.com/watch?v=x0fSBAgBrOQ"
        >
          ReactJS là gì? Tại sao nên học ReactJS?
        </a>
      </h3>

      <div class="icon_item">
        <span class="icon_text"> Video </span>
      </div>

      <div class="icon_users d-flex gap8 align-items-center">
        <img
          loading="lazy"
          src="https://files.fullstack.edu.vn/f8-prod/user_avatars/9143/6263caafdf588.jpg"
          alt="Sơn Đặng"
        />
        <span class="">Đông Ngô</span>
        <span class="">6 phút đọc</span>
      </div>
    </div>
  </div>
</section>
<!-- End Videos -->
