<div class="course-pro my-4">
  <div class="course-pro__header">
    <div class="course-pro__header-title__wrapper w-100 d-flex justify-content-between">
      <h2 class="course-pro__header-title mt-0">
        <span>Bài viết nổi bật</span>
      </h2>
      <div>
        <span>Xem tất cả</span>
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  </div>

  <div class="course-pro__body">
    <div class="course-pro__body-wrapper row mt-2">
      <div *ngFor="let post of posts;" class="course-pro__item col col-xl-3 col-lg-4 p-0" routerLink="/blog/{{post.id}}">
        <div class="course-pro__item-wrapper">
          <div class="course-pro__item-link cursor-pointer">
            <button type="button">Xem bài viết</button>
            <div class="course-pro__item-link__img position-relative">
              <img class="img-fluid" src="{{ post.image }}" alt="HTML CSS Pro" />
              <div class="position-absolute overley"></div>
            </div>
          </div>
          <h3 class="course-pro__item-title mt-3">
            {{ post.title }}
          </h3>
          <div class="course-pro__item-author cursor-pointer d-flex align-items-center g-2 mt-2">
            <div class="d-flex align-items-center">
              <div class="course-pro__item-author__avatar">
                <img class="img-fluid" src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/64f9a2fd4e064.jpg"
                  alt="Avatar User" />
              </div>
              <span class="course-pro__item-author__name d-flex align-items-center ms-2">{{ post?.user?.name }} <i
                  class="fa-solid fa-check ms-1"></i></span>
            </div>
            <span class="course-pro__item-author__reading-time"><i class="fa-solid fa-circle"></i>{{ post.readingTime }}
              phút đọc</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
