<div class="App_withSidebarContent">
  <section class="index-module_grid index-module_fullWidth" style="max-width: 1920px">
    <div class="DefaultLayout_container">
      <div class="DefaultLayout_container-top">
        <h1 class="DefaultLayout_heading student-header__default-title my-4">
          Bài viết nổi bật
        </h1>
        <div class="MarkdownParser_wrapper DefaultLayout_desc">
          <p>
            Tổng hợp các bài viết chia sẻ về kinh nghiệm tự học lập trình online
            và các kỹ thuật lập trình web.
          </p>
        </div>
      </div>
      <div class="container-body">
        <section class="index-module_row">
          <section class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie">
            <div class="Blog_leftLayout">
              <div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@son-dang">
                        <div class="FallbackAvatar_avatar FallbackAvatar_pro" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/64f9a2fd4e064.jpg"
                            alt="Sơn Đặng" /><img class="FallbackAvatar_crown"
                            src="/static/media/crown.8edf462029b3c37a7f673303d8d3bedc.svg" alt="crown" />
                        </div>
                      </a><a href="/@son-dang"><span>Sơn Đặng</span><svg aria-hidden="true" focusable="false"
                          data-prefix="fas" data-icon="circle-check"
                          class="svg-inline--fa fa-circle-check UserName_icon" role="img"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="font-size: 1rem">
                          <path fill="currentColor"
                            d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z">
                          </path>
                        </svg></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/huong-dan-chi-tiet-cach-su-dung-dev-mode-trong-khoa-pro.html">
                        <h2 class="PostItem_title">
                          Hướng dẫn chi tiết cách sử dụng Dev Mode trong khóa
                          Pro
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Chào bạn! Nếu bạn đã là học viên khóa Pro của F8, chắc
                        hẳn bạn đã biết tới "Dev Mode" - giúp thực hành code
                        song song khi xem...
                      </p>
                      <div class="PostItem_info">
                        <a class="PostItem_tags" href="/blog/tag/front-end?page=1">Front-end</a><span>một tháng
                          trước</span><span class="PostItem_dot">·</span>4 phút đọc
                      </div>
                    </div>
                    <div class="PostItem_thumb">
                      <a href="/blog/huong-dan-chi-tiet-cach-su-dung-dev-mode-trong-khoa-pro.html"><img
                          src="https://files.fullstack.edu.vn/f8-prod/blog_posts/8334/64f01064b0724.png"
                          alt="Hướng dẫn chi tiết cách sử dụng Dev Mode trong khóa Pro" /></a>
                    </div>
                  </div>
                </div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@nhatngao">
                        <div class="FallbackAvatar_avatar" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/345914/64eb2fb9021c8.jpg"
                            alt="Ninja Dev" />
                        </div>
                      </a><a href="/@nhatngao"><span>Ninja Dev</span></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/cach-chinh-theme-oh-my-posh-cho-powershell.html">
                        <h2 class="PostItem_title">
                          Cách chỉnh theme Oh-my-posh cho Powershell
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Hello ae mọi người nhé, mọi người (đặc biệt là lập trình
                        viên Software) chắc hẳn đã nghe tới Powershell, nhưng bù
                        lại cái màn hình...
                      </p>
                      <div class="PostItem_info">
                        <a class="PostItem_tags" href="/blog/tag/terminal?page=1">Terminal</a><span>2 tháng
                          trước</span><span class="PostItem_dot">·</span>2 phút đọc
                      </div>
                    </div>
                  </div>
                </div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@ttnguyen">
                        <div class="FallbackAvatar_avatar" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/328840/64b0b46673fe1.jpg"
                            alt=" TTnguyen" />
                        </div>
                      </a><a href="/@ttnguyen"><span> TTnguyen</span></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/su-khac-biet-giua-var-let-va-const-trong-javascript.html">
                        <h2 class="PostItem_title">
                          Sự khác biệt giữa var, let và const trong JavaScript
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Tôi muốn thảo luận chi tiết về các từ khóa var,...
                      </p>
                      <div class="PostItem_info">
                        <a class="PostItem_tags" href="/blog/tag/javascript?page=1">Javascript</a><span>2 tháng
                          trước</span><span class="PostItem_dot">·</span>3 phút đọc
                      </div>
                    </div>
                  </div>
                </div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@khang-ng">
                        <div class="FallbackAvatar_avatar FallbackAvatar_pro" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/18810/631175d26916f.png"
                            alt="Dev Quèn" /><img class="FallbackAvatar_crown"
                            src="/static/media/crown.8edf462029b3c37a7f673303d8d3bedc.svg" alt="crown" />
                        </div>
                      </a><a href="/@khang-ng"><span>Dev Quèn</span></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/tat-tan-tat-ve-cai-thien-performance-cua-1-trang-web.html">
                        <h2 class="PostItem_title">
                          `Tất tần tật` về cải thiện Performance của 1 trang
                          web🚀
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Ở bài viết này, chúng ta cùng nhau tìm hiểu về các vấn
                        đề liên quan đến Performance ở phía FE. Không dài dòng
                        nữa,...
                      </p>
                      <div class="PostItem_info">
                        <a class="PostItem_tags" href="/blog/tag/javascript?page=1">Javascript</a><span>3 tháng
                          trước</span><span class="PostItem_dot">·</span>8 phút đọc
                      </div>
                    </div>
                    <div class="PostItem_thumb">
                      <a href="/blog/tat-tan-tat-ve-cai-thien-performance-cua-1-trang-web.html"><img
                          src="https://files.fullstack.edu.vn/f8-prod/blog_posts/7940/64a645ea70312.png"
                          alt="`Tất tần tật` về cải thiện Performance của 1 trang web🚀" /></a>
                    </div>
                  </div>
                </div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@khang-ng">
                        <div class="FallbackAvatar_avatar FallbackAvatar_pro" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/18810/631175d26916f.png"
                            alt="Dev Quèn" /><img class="FallbackAvatar_crown"
                            src="/static/media/crown.8edf462029b3c37a7f673303d8d3bedc.svg" alt="crown" />
                        </div>
                      </a><a href="/@khang-ng"><span>Dev Quèn</span></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/mot-so-cam-nang-hay-khi-lam-viec-voi-htmlcss.html">
                        <h2 class="PostItem_title">
                          Một số "cẩm nang" hay khi làm việc với
                          HTML/CSS😂&nbsp;
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Bài viết này đơn giản là nơi để mình lưu lại những kinh
                        nghiệm mình đã làm việc với HTML/CSS cũng như chia sẻ
                        phần nào cho bạn...
                      </p>
                      <div class="PostItem_info">
                        <a class="PostItem_tags" href="/blog/tag/front-end?page=1">Front-end</a><span>3 tháng
                          trước</span><span class="PostItem_dot">·</span>4 phút đọc
                      </div>
                    </div>
                    <div class="PostItem_thumb">
                      <a href="/blog/mot-so-cam-nang-hay-khi-lam-viec-voi-htmlcss.html"><img
                          src="https://files.fullstack.edu.vn/f8-prod/blog_posts/7924/64a2487459fe5.jpg"
                          alt='Một số "cẩm nang" hay khi làm việc với HTML/CSS😂&nbsp;' /></a>
                    </div>
                  </div>
                </div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@khang-ng">
                        <div class="FallbackAvatar_avatar FallbackAvatar_pro" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/18810/631175d26916f.png"
                            alt="Dev Quèn" /><img class="FallbackAvatar_crown"
                            src="/static/media/crown.8edf462029b3c37a7f673303d8d3bedc.svg" alt="crown" />
                        </div>
                      </a><a href="/@khang-ng"><span>Dev Quèn</span></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/ket-noi-truoc-voi-preconnect-prefetch-de-lam-gi.html">
                        <h2 class="PostItem_title">
                          "Kết nối trước" với preconnect, prefetch để làm gì?
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Ở đây chắc hẳn ai cũng từng dùng google fonts để nhúng
                        fonts vào...
                      </p>
                      <div class="PostItem_info">
                        <a class="PostItem_tags" href="/blog/tag/front-end?page=1">Front-end</a><span>3 tháng
                          trước</span><span class="PostItem_dot">·</span>3 phút đọc
                      </div>
                    </div>
                    <div class="PostItem_thumb">
                      <a href="/blog/ket-noi-truoc-voi-preconnect-prefetch-de-lam-gi.html"><img
                          src="https://files.fullstack.edu.vn/f8-prod/blog_posts/7922/64a23b234c52e.png"
                          alt='"Kết nối trước" với preconnect, prefetch để làm gì?' /></a>
                    </div>
                  </div>
                </div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@alanking">
                        <div class="FallbackAvatar_avatar" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_photos/323800/6464902b20c91.jpg"
                            alt="Alan King" />
                        </div>
                      </a><a href="/@alanking"><span>Alan King</span></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/cam-thay-kho-khan-khi-chuyen-sang-hoc-mot-ngon-ngu-moi.html">
                        <h2 class="PostItem_title">
                          Cảm thấy khó khăn khi chuyển sang học một ngôn ngữ mới
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Tôi làm chuyên môn về phân tích dữ liệu, chủ yếu là dùng
                        phần mềm chuyên môn sâu và dùng rất nhiều SQL db,
                        python. Hai món đó cũng...
                      </p>
                      <div class="PostItem_info">
                        <a class="PostItem_tags" href="/blog/tag/reactjs?page=1">ReactJS</a><span>4 tháng
                          trước</span><span class="PostItem_dot">·</span>2 phút đọc
                      </div>
                    </div>
                  </div>
                </div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@vuchi1">
                        <div class="FallbackAvatar_avatar" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_photos/315518/643b789615dd1.jpg"
                            alt="Vũ Chi" />
                        </div>
                      </a><a href="/@vuchi1"><span>Vũ Chi</span></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/hoc-vien-funix-lac-duong-toi-f8.html">
                        <h2 class="PostItem_title">
                          Học viên Funix lạc đường tới F8
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Mình đã tham gia khóa học lập trình 6 tháng ở funix và
                        cũng có nhiều lý do khác dẫn đến quá hạn quá học và cũng
                        đã hoàn thành 4...
                      </p>
                      <div class="PostItem_info">
                        <a class="PostItem_tags" href="/blog/tag/reactjs?page=1">ReactJS</a><span>5 tháng
                          trước</span><span class="PostItem_dot">·</span>1 phút đọc
                      </div>
                    </div>
                    <div class="PostItem_thumb">
                      <a href="/blog/hoc-vien-funix-lac-duong-toi-f8.html"><img
                          src="https://files.fullstack.edu.vn/f8-prod/blog_posts/7256/64448752c63c4.jpg"
                          alt="Học viên Funix lạc đường tới F8" /></a>
                    </div>
                  </div>
                </div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@naixnai">
                        <div class="FallbackAvatar_avatar FallbackAvatar_pro" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/164944/6442473f625f6.jpg"
                            alt=" GzW" /><img class="FallbackAvatar_crown"
                            src="/static/media/crown.8edf462029b3c37a7f673303d8d3bedc.svg" alt="crown" />
                        </div>
                      </a><a href="/@naixnai"><span> GzW</span></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/danh-gia-ep-tam-voi-mot-so-truong.html">
                        <h2 class="PostItem_title">
                          Đánh giá ÉP TÁM với một số trường
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Hí anh em! Vào vấn đề luôn, trong thời gian mình có quá
                        nhiều thời gian rỗi nên mình đã bỏ 1 ít thời gian và
                        tiền đi kiểm chứng và...
                      </p>
                      <div class="PostItem_info">
                        <span>5 tháng trước</span><span class="PostItem_dot">·</span>2 phút đọc
                      </div>
                    </div>
                    <div class="PostItem_thumb">
                      <a href="/blog/danh-gia-ep-tam-voi-mot-so-truong.html"><img
                          src="https://files.fullstack.edu.vn/f8-prod/blog_posts/7242/64424fe6e225f.jpg"
                          alt="Đánh giá ÉP TÁM với một số trường" /></a>
                    </div>
                  </div>
                </div>
                <div class="PostItem_wrapper">
                  <div class="PostItem_header">
                    <div class="PostItem_author">
                      <a href="/@38trinhgiaminhd16cnpm7">
                        <div class="FallbackAvatar_avatar" style="--font-size: 2.9px">
                          <img src="https://files.fullstack.edu.vn/f8-prod/user_photos/184722/62383632b8e58.jpg"
                            alt="Minh Trịnh" />
                        </div>
                      </a><a href="/@38trinhgiaminhd16cnpm7"><span>Minh Trịnh</span></a>
                    </div>
                    <div class="PostItem_actions">
                      <div class="Bookmark_toggleBtn PostItem_optionBtn">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark"
                          class="svg-inline--fa fa-bookmark" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512">
                          <path fill="currentColor"
                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                          </path>
                        </svg>
                      </div>
                      <div class="PostItem_optionBtn" aria-expanded="false">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis"
                          class="svg-inline--fa fa-ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                          </path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="PostItem_body">
                    <div class="PostItem_info">
                      <a href="/blog/learn-javascript-while-playing-games-gamify-your-learning.html">
                        <h2 class="PostItem_title">
                          Learn JavaScript while Playing Games — Gamify Your
                          Learning
                        </h2>
                      </a>
                      <p class="PostItem_desc">
                        Trong bài viết này, tôi muốn giới thiệu các trang web
                        khác nhau mà bạn có thể sử dụng để học JavaScript khi
                        chơi trò chơi. Phương...
                      </p>
                      <div class="PostItem_info">
                        <span>6 tháng trước</span><span class="PostItem_dot">·</span>8 phút đọc
                      </div>
                    </div>
                    <div class="PostItem_thumb">
                      <a href="/blog/learn-javascript-while-playing-games-gamify-your-learning.html"><img
                          src="https://files.fullstack.edu.vn/f8-prod/blog_posts/6936/6422afa5a62f8.jpg"
                          alt="Learn JavaScript while Playing Games — Gamify Your Learning" /></a>
                    </div>
                  </div>
                </div>
                <div class="Pagination_wrapper">
                  <div class="Pagination_pages">
                    <div class="Pagination_page Pagination_disabled">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angles-left"
                        class="svg-inline--fa fa-angles-left Pagination_icon" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor"
                          d="M77.25 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C175.6 444.9 183.8 448 192 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L77.25 256zM269.3 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C367.6 444.9 375.8 448 384 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L269.3 256z">
                        </path>
                      </svg>
                    </div>
                    <div class="Pagination_page Pagination_active">1</div>
                    <div class="Pagination_page">2</div>
                    <div class="Pagination_page">3</div>
                    <div class="Pagination_page">4</div>
                    <div class="Pagination_page">5</div>
                    <div class="Pagination_page">6</div>
                    <div class="Pagination_page">7</div>
                    <div class="Pagination_page">8</div>
                    <div class="Pagination_page">9</div>
                    <div class="Pagination_page">10</div>
                    <div class="Pagination_page">11</div>
                    <div class="Pagination_page">12</div>
                    <div class="Pagination_page">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angles-right"
                        class="svg-inline--fa fa-angles-right Pagination_icon" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor"
                          d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z">
                        </path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="index-module_col__lap4 index-module_c-8 index-module_col__tab3 index-module_col__mobie">
            <div class="TopicsList_wrapper__lizCe">
              <h3>Các chủ đề được đề xuất</h3>
              <ul class="TopicsList_topics__EU6iM">
                <li>
                  <a href="/blog/topic/front-end-mobile-apps">Front-end / Mobile apps</a>
                </li>
                <li>
                  <a href="/blog/topic/back-end-devops">Back-end / Devops</a>
                </li>
                <li><a href="/blog/topic/ui-ux-design">UI / UX / Design</a></li>
                <li><a href="/blog/topic/others">Others</a></li>
              </ul>
            </div>
            <div class="Banners_wrapper Banners_sticky" style="--sticky: 80px; --align: flex-start">
              <div class="Banners_content">
                <a class="Banners_banner" href="https://fullstack.edu.vn/landing/htmlcss" target="_blank"
                  rel="noreferrer"><img src="https://files.fullstack.edu.vn/f8-prod/banners/25/63dc61d4caec2.png"
                    alt="HTML CSS Pro Banner" title="HTML CSS Pro Banner" /></a><a class="Banners_banner"
                  href="https://www.youtube.com/c/F8VNOfficial" target="_blank" rel="noreferrer"><img
                    src="https://files.fullstack.edu.vn/f8-prod/banners/32/6421144f7b504.png" alt="F8 Youtube Banner"
                    title="F8 Youtube Banner" /></a>
              </div>
            </div>
          </section>
        </section>
      </div>
    </div>
  </section>
</div>
