<div class="ScrollList_vertical">
  <div>
    <p class="ScrollList_sub-heading" _msttexthash="5215275" _msthash="53">
      <strong>353.390+</strong> người khác đã học
    </p>
    <div class="ScrollList_heading-wrap">
      <h2 class="ScrollList_heading">
        <a rel="noreferrer" target="_self" href="/learning-paths">
          <p _mstmutation="1" _msttexthash="3136900" _msthash="54">
            Khóa học miễn phí
          </p>
          <span class="ScrollList_view-all-icon"
            ><svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="arrow-right"
              class="svg-inline--fa fa-arrow-right"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"
              ></path></svg
          ></span>
        </a>
      </h2>
      <a
        class="ScrollList_view-all"
        rel="noreferrer"
        target="_self"
        href="/learning-paths"
      >
        <p _mstmutation="1" _msttexthash="1297972" _msthash="55">
          Xem lộ trình
        </p>
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-right"
          class="svg-inline--fa fa-chevron-right"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            fill="currentColor"
            d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="ScrollList_body">
    <section class="index-module_row">
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title="Kiến Thức Nhập Môn IT"
            target="_self"
            href="/courses/lessons-for-newbie"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1439"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/7.png"
              alt="Kiến Thức Nhập Môn IT"
              _mstalt="4293549"
              _msthash="1440"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/lessons-for-newbie"
              _msttexthash="4293549"
              _msthash="1441"
              >Kiến Thức Nhập Môn IT</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path>
            </svg>
            <span _msttexthash="46176" _msthash="1442">117.416</span>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title="Lập trình C++ cơ bản, nâng cao"
            target="_self"
            href="/courses/lap-trinh-c-co-ban-toi-nang-cao"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1443"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/21/63e1bcbaed1dd.png"
              alt="Lập trình C++ cơ bản, nâng cao"
              _mstalt="3608358"
              _msthash="1444"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/lap-trinh-c-co-ban-toi-nang-cao"
              _msttexthash="3608358"
              _msthash="1445"
              >Lập trình C++ cơ bản, nâng cao</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path>
            </svg>
            <span _msttexthash="37466" _msthash="1446">17.234</span>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title="HTML CSS từ Zero đến Hero"
            target="_self"
            href="/courses/html-css"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1447"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/2.png"
              alt="HTML CSS từ Zero đến Hero"
              _mstalt="4109235"
              _msthash="1448"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/html-css"
              _msttexthash="4109235"
              _msthash="1449"
              >HTML CSS từ Zero đến Hero</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path></svg
            ><span _msttexthash="46956" _msthash="1450">175.824</span>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title="Responsive Với Grid System"
            target="_self"
            href="/courses/responsive-web-design"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1451"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/3.png"
              alt="Responsive với hệ thống lưới điện"
              _mstalt="2387060"
              _msthash="1452"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/responsive-web-design"
              _msttexthash="13632606"
              _msthash="1453"
              >Responsive với hệ thống lưới điện</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path></svg
            ><span _msttexthash="38779" _msthash="1454">39.925</span>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title="Lập Trình JavaScript Cơ Bản"
            target="_self"
            href="/courses/javascript-co-ban"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1455"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/1.png"
              alt="Lập Trình JavaScript Cơ Bản"
              _mstalt="4280952"
              _msthash="1456"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/javascript-co-ban"
              _msttexthash="4280952"
              _msthash="1457"
              >Lập Trình JavaScript Cơ Bản</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path></svg
            ><span _msttexthash="48178" _msthash="1458">118.689</span>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title="Lập Trình JavaScript Nâng Cao"
            target="_self"
            href="/courses/javascript-nang-cao"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1459"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/12.png"
              alt="Lập Trình JavaScript Nâng Cao"
              _mstalt="1484405"
              _msthash="1460"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/javascript-nang-cao"
              _msttexthash="1484405"
              _msthash="1461"
              >Lập Trình JavaScript Nâng Cao</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path></svg
            ><span _msttexthash="36855" _msthash="1462">32.205</span>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title="Làm việc với Terminal &amp; Ubuntu"
            target="_self"
            href="/courses/windows-terminal-wsl"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1463"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/14/624faac11d109.png"
              alt="Làm việc với Terminal &amp; Ubuntu"
              _mstalt="3543735"
              _msthash="1464"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/windows-terminal-wsl"
              _msttexthash="3376243"
              _msthash="1465"
              >Làm việc với Terminal &amp; Ubuntu</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path></svg
            ><span _msttexthash="38584" _msthash="1466">14.658</span>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title="Xây Dựng Website với ReactJS"
            target="_self"
            href="/courses/reactjs"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1467"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/13/13.png"
              alt="Xây Dựng Website với ReactJS"
              _mstalt="3933748"
              _msthash="1468"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/reactjs"
              _msttexthash="3933748"
              _msthash="1469"
              >Xây Dựng Website với ReactJS</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path></svg
            ><span _msttexthash="37076" _msthash="1470">54.213</span>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title="Node &amp; ExpressJS"
            target="_self"
            href="/courses/nodejs"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1471"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/6.png"
              alt="Nút &amp;; ExpressJS"
              _mstalt="348153"
              _msthash="1472"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/nodejs"
              _msttexthash="246896"
              _msthash="1473"
              >Nút &amp;; ExpressJS</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path></svg
            ><span _msttexthash="37206" _msthash="1474">36.250</span>
          </div>
        </div>
      </section>
      <section
        class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie"
      >
        <div class="CommonItem_wrapper Home_courseItem">
          <a
            class="CommonItem_link CommonItem_has-link"
            title='App "Đừng Chạm Tay Lên Mặt"'
            target="_self"
            href="/courses/tool-canh-bao-so-len-mat"
            ><button
              class="Button_btn CommonItem_cta-btn__OK"
              _msttexthash="1691443"
              _msthash="1475"
            >
              Xem khóa học</button
            ><img
              class="CommonItem_thumb"
              src="https://files.fullstack.edu.vn/f8-prod/courses/4/61a9e9e701506.png"
              alt='Ứng dụng "Đừng chạm tay lên mặt"'
              _mstalt="6079957"
              _msthash="1476"
          /></a>
          <h3 class="CommonItem_title">
            <a
              target="_self"
              href="/courses/tool-canh-bao-so-len-mat"
              _msttexthash="9330763"
              _msthash="1477"
              >Ứng dụng "Đừng chạm tay lên mặt"</a
            >
          </h3>
          <div class="CourseItem_students-count">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="users"
              class="svg-inline--fa fa-users"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 512"
            >
              <path
                fill="currentColor"
                d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"
              ></path></svg
            ><span _msttexthash="30849" _msthash="1478">8.548</span>
          </div>
        </div>
      </section>
    </section>
    <!-- <div class="ScrollList_view-all-box__cBYFh">
            <div class="ContinueButton_wrapper__9oxty"><a class="ContinueButton_body__Bh+7I" rel="noreferrer"
                    target="_self" href="/learning-paths"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="arrow-right" class="svg-inline--fa fa-arrow-right " role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z">
                        </path>
                    </svg></a></div>
        </div> -->
  </div>
</div>
