<div class="ScrollList_vertical">
    <div>
        <div class="ScrollList_heading-wrap">
            <h2 class="ScrollList_heading"><a rel="noreferrer" target="_self" href="/blog">Bài viết nổi bật<span
                        class="ScrollList_view-all-icon"><svg aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right " role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z">
                            </path>
                        </svg></span></a></h2><a class="ScrollList_view-all__MTYc1" rel="noreferrer" target="_self"
                href="/blog">Xem tất cả<svg aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="chevron-right" class="svg-inline--fa fa-chevron-right " role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path fill="currentColor"
                        d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z">
                    </path>
                </svg></a>
        </div>
    </div>
    <div class="ScrollList_body">
        <section class="index-module_row">
            <section
                class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie">
                <div class="CommonItem_wrapper"><a class="CommonItem_link CommonItem_has-link"
                        title="Tổng hợp các sản phẩm của học viên tại F8" target="_self"
                        href="/blog/tong-hop-cac-san-pham-cua-hoc-vien-tai-f8.html"><button
                            class="Button_btn  CommonItem_cta-btn__OK">Xem bài viết</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/65/6139fe28a9844.png"
                            alt="Tổng hợp các sản phẩm của học viên tại F8"></a>
                    <h3 class="CommonItem_title"><a target="_self"
                            href="/blog/tong-hop-cac-san-pham-cua-hoc-vien-tai-f8.html">Tổng hợp các sản phẩm của học
                            viên tại F8</a></h3>
                    <div class="PostItem_author"><a class="PostItem_avatar-wrapper" href="/@son-dang">
                            <div class="FallbackAvatar_avatar FallbackAvatar_pro"
                                style="--font-size: 2.9px;"><img
                                    src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/64f9a2fd4e064.jpg"
                                    alt="Sơn Đặng"><img class="FallbackAvatar_crown"
                                    src="/static/media/crown.8edf462029b3c37a7f673303d8d3bedc.svg" alt="crown"></div>
                        </a><a href="/@son-dang"><span class="PostItem_user-name">Sơn Đặng</span><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-check"
                                class="svg-inline--fa fa-circle-check UserName_icon" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="font-size: 1.2rem;">
                                <path fill="currentColor"
                                    d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z">
                                </path>
                            </svg><span class="PostItem_dot">·</span><span>6 phút đọc</span></a></div>
                </div>
            </section>
            <section
                class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie">
                <div class="CommonItem_wrapper"><a class="CommonItem_link CommonItem_has-link"
                        title="[Phần 1]&nbsp;Tạo dự án ReactJS với Webpack và Babel" target="_self"
                        href="/blog/phan-1-tao-du-an-reactjs-voi-webpack-va-babel.html"><button
                            class="Button_btn  CommonItem_cta-btn__OK">Xem bài viết</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/279/6153f692d366e.jpg"
                            alt="[Phần 1]&nbsp;Tạo dự án ReactJS với Webpack và Babel"></a>
                    <h3 class="CommonItem_title"><a target="_self"
                            href="/blog/phan-1-tao-du-an-reactjs-voi-webpack-va-babel.html">[Phần 1]&nbsp;Tạo dự án
                            ReactJS với Webpack và Babel</a></h3>
                    <div class="PostItem_author"><a class="PostItem_avatar-wrapper" href="/@son-dang">
                            <div class="FallbackAvatar_avatar FallbackAvatar_pro"
                                style="--font-size: 2.9px;"><img
                                    src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/64f9a2fd4e064.jpg"
                                    alt="Sơn Đặng"><img class="FallbackAvatar_crown"
                                    src="/static/media/crown.8edf462029b3c37a7f673303d8d3bedc.svg" alt="crown"></div>
                        </a><a href="/@son-dang"><span class="PostItem_user-name">Sơn Đặng</span><svg
                                aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-check"
                                class="svg-inline--fa fa-circle-check UserName_icon" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="font-size: 1.2rem;">
                                <path fill="currentColor"
                                    d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z">
                                </path>
                            </svg><span class="PostItem_dot">·</span><span>12 phút đọc</span></a></div>
                </div>
            </section>
            <section
                class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie">
                <div class="CommonItem_wrapper"><a class="CommonItem_link CommonItem_has-link"
                        title="Cách đưa code lên GitHub và tạo GitHub Pages" target="_self"
                        href="/blog/cach-dua-code-len-github-va-tao-github-pages.html"><button
                            class="Button_btn  CommonItem_cta-btn__OK">Xem bài viết</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615436b218d0a.png"
                            alt="Cách đưa code lên GitHub và tạo GitHub Pages"></a>
                    <h3 class="CommonItem_title"><a target="_self"
                            href="/blog/cach-dua-code-len-github-va-tao-github-pages.html">Cách đưa code lên GitHub và
                            tạo GitHub Pages</a></h3>
                    <div class="PostItem_author"><a class="PostItem_avatar-wrapper" href="/@vo-minh-kha">
                            <div class="FallbackAvatar_avatar" style="--font-size: 2.9px;"><img
                                    src="https://files.fullstack.edu.vn/f8-prod/user_avatars/18159/6466353972973.jpg"
                                    alt="Võ Minh Kha"></div>
                        </a><a href="/@vo-minh-kha"><span class="PostItem_user-name">Võ Minh Kha</span><span
                                class="PostItem_dot">·</span><span>4 phút đọc</span></a></div>
                </div>
            </section>
            <section
                class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie">
                <div class="CommonItem_wrapper"><a class="CommonItem_link CommonItem_has-link"
                        title="Ký sự ngày thứ 25 học ở F8&nbsp;" target="_self"
                        href="/blog/ky-su-ngay-thu-25-hoc-o-f8-1.html"><button
                            class="Button_btn  CommonItem_cta-btn__OK">Xem bài viết</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/51/6139c6453456e.png"
                            alt="Ký sự ngày thứ 25 học ở F8&nbsp;"></a>
                    <h3 class="CommonItem_title"><a target="_self"
                            href="/blog/ky-su-ngay-thu-25-hoc-o-f8-1.html">Ký sự ngày thứ 25 học ở F8&nbsp;</a></h3>
                    <div class="PostItem_author"><a class="PostItem_avatar-wrapper" href="/@son-son-16">
                            <div class="FallbackAvatar_avatar" style="--font-size: 2.9px;"><img
                                    src="https://graph.facebook.com/1642531882604203/picture?width=400&amp;height=400"
                                    alt="Sơn Sơn"></div>
                        </a><a href="/@son-son-16"><span class="PostItem_user-name">Sơn Sơn</span><span
                                class="PostItem_dot">·</span><span>1 phút đọc</span></a></div>
                </div>
            </section>
            <section
                class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie">
                <div class="CommonItem_wrapper"><a class="CommonItem_link CommonItem_has-link"
                        title="Các nguồn tài nguyên hữu ích cho 1 front-end developer" target="_self"
                        href="/blog/cac-nguon-tai-nguyen-huu-ich-cho-1-front-end-developer.html"><button
                            class="Button_btn  CommonItem_cta-btn__OK">Xem bài viết</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/107/613a1f3685814.png"
                            alt="Các nguồn tài nguyên hữu ích cho 1 front-end developer"></a>
                    <h3 class="CommonItem_title"><a target="_self"
                            href="/blog/cac-nguon-tai-nguyen-huu-ich-cho-1-front-end-developer.html">Các nguồn tài
                            nguyên hữu ích cho 1 front-end developer</a></h3>
                    <div class="PostItem_author"><a class="PostItem_avatar-wrapper" href="/@duong-vuong">
                            <div class="FallbackAvatar_avatar FallbackAvatar_pro"
                                style="--font-size: 2.9px;"><img
                                    src="https://graph.facebook.com/547825429409669/picture?width=400&amp;height=400"
                                    alt="Vương Dương"><img class="FallbackAvatar_crown"
                                    src="/static/media/crown.8edf462029b3c37a7f673303d8d3bedc.svg" alt="crown"></div>
                        </a><a href="/@duong-vuong"><span class="PostItem_user-name">Vương Dương</span><span
                                class="PostItem_dot">·</span><span>2 phút đọc</span></a></div>
                </div>
            </section>
            <section
                class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie">
                <div class="CommonItem_wrapper"><a class="CommonItem_link CommonItem_has-link"
                        title="Thời gian và Động lực" target="_self" href="/blog/thoi-gian-va-dong-luc.html"><button
                            class="Button_btn  CommonItem_cta-btn__OK">Xem bài viết</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/1671/61b6368983c16.jpg"
                            alt="Thời gian và Động lực"></a>
                    <h3 class="CommonItem_title"><a target="_self" href="/blog/thoi-gian-va-dong-luc.html">Thời
                            gian và Động lực</a></h3>
                    <div class="PostItem_author"><a class="PostItem_avatar-wrapper" href="/@dong-ngo">
                            <div class="FallbackAvatar_avatar" style="--font-size: 2.9px;"><img
                                    src="https://files.fullstack.edu.vn/f8-prod/user_avatars/9143/6263caafdf588.jpg"
                                    alt="Đông Ngô"></div>
                        </a><a href="/@dong-ngo"><span class="PostItem_user-name">Đông Ngô</span><span
                                class="PostItem_dot">·</span><span>6 phút đọc</span></a></div>
                </div>
            </section>
            <section
                class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie">
                <div class="CommonItem_wrapper"><a class="CommonItem_link CommonItem_has-link"
                        title="Tổng hợp tài liệu tự học tiếng anh cơ bản." target="_self"
                        href="/blog/tong-hop-tai-lieu-tu-hoc-tieng-anh-co-ban.html"><button
                            class="Button_btn  CommonItem_cta-btn__OK">Xem bài viết</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/273/614043e523ad9.png"
                            alt="Tổng hợp tài liệu tự học tiếng anh cơ bản."></a>
                    <h3 class="CommonItem_title"><a target="_self"
                            href="/blog/tong-hop-tai-lieu-tu-hoc-tieng-anh-co-ban.html">Tổng hợp tài liệu tự học tiếng
                            anh cơ bản.</a></h3>
                    <div class="PostItem_author"><a class="PostItem_avatar-wrapper"
                            href="/@le-thanh-trung-5">
                            <div class="FallbackAvatar_avatar" style="--font-size: 2.9px;"><img
                                    src="https://files.fullstack.edu.vn/f8-prod/user_avatars/74901/626aa252cdb22.jpg"
                                    alt="Lê Thành Trung"></div>
                        </a><a href="/@le-thanh-trung-5"><span class="PostItem_user-name">Lê Thành
                                Trung</span><span class="PostItem_dot">·</span><span>10 phút đọc</span></a></div>
                </div>
            </section>
            <section
                class="index-module_col__lap4 index-module_c-12 index-module_col__tab3 index-module_col__mobie">
                <div class="CommonItem_wrapper"><a class="CommonItem_link CommonItem_has-link"
                        title="Học như thế nào là phù hợp ?" target="_self"
                        href="/blog/hoc-nhu-the-nao-la-phu-hop.html"><button
                            class="Button_btn  CommonItem_cta-btn__OK">Xem bài viết</button><img
                            class="CommonItem_thumb"
                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/791/615de64de7e8f.jpg"
                            alt="Học như thế nào là phù hợp ?"></a>
                    <h3 class="CommonItem_title"><a target="_self"
                            href="/blog/hoc-nhu-the-nao-la-phu-hop.html">Học như thế nào là phù hợp ?</a></h3>
                    <div class="PostItem_author"><a class="PostItem_avatar-wrapper"
                            href="/@tien-pham-ngoc">
                            <div class="FallbackAvatar_avatar" style="--font-size: 2.9px;"><img
                                    src="/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg" alt="Tien Pham Ngoc">
                            </div>
                        </a><a href="/@tien-pham-ngoc"><span class="PostItem_user-name">Tien Pham
                                Ngoc</span><span class="PostItem_dot">·</span><span>4 phút đọc</span></a></div>
                </div>
            </section>
        </section>
        <div class="ScrollList_view-all-box__cBYFh">
            <!-- <div class="ContinueButton_wrapper__9oxty"><a class="ContinueButton_body__Bh+7I" rel="noreferrer"
                    target="_self" href="/blog"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="arrow-right" class="svg-inline--fa fa-arrow-right " role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z">
                        </path>
                    </svg></a></div> -->
        </div>
    </div>
</div>