/*--------------------------------------------------------------
#  General Course Section
--------------------------------------------------------------*/

.your_List {
  padding-bottom: 0;
}
.your_List > .container {
  --bs-gutter-x: 4rem;
}
.your_List h2 {
  color: #242424;
  font-size: 2.4rem;
  font-weight: 900;
  margin: 0;
  margin-top: 16px;
}

.your_List .heading span {
  position: relative;
  top: -10px;
  left: 0px;
  color: var(--bs-white);
  text-transform: uppercase;
  background-color: var(--bs-span-1);
  background-color: var(--primary-color);
  display: inline-block;
  font-size: 0.8rem !important;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
}

.your_List .item_Wrap {
  width: calc((100% - 72px) / 4);
  min-width: 235px;
  min-height: 180px;
  padding: 0 12px 16px;
}
.item_Wrap.coming_Soon {
  user-select: none;
  cursor: auto;
}
.your_List .item_Wrap .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 1.6rem;
  transform: translate(-50%, -50%);
}

.your_List .item_Wrap .btn:not(.coursesBtn) {
  top: 108%;
  visibility: hidden;
}

.your_List .module_outer_item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
}
.your_List .module_outer_item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.your_List .item_Wrap:hover .item_btn.btn:not(.disabled) {
  top: 80%;
  z-index: 1;
  outline: none;
  font-size: 1.6rem;
  visibility: visible;
  transition: all 0.5s ease;
}

.your_List .btn.disabled {
  color: white;
}
.your_List .item_Wrap .item_btn.btn:not(.disabled):hover {
  border: 2px solid var(--primary-color);
  background-color: var(--bs-white);
  color: var(--primary-color);
  font-size: 1.6rem !important;
  opacity: 1;
}

.your_List .icon_item img {
  margin-bottom: 3px;
  width: 32px;
  padding: 3px 6px;
  object-fit: contain;
}

.your_List .item_link {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  overflow: hidden;
}

.your_List .icon_text {
  font-size: 1.2rem;
  display: inline-block;
  padding: 3px 8px 6px;
  color: var(--bs-white);
}

.your_List .icon_users {
  color: #666;
  font-size: 1.4rem;
  margin-top: 6px;
}
.your_List .icon_users img {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
}

.your_List .sub_heading {
  color: #82919b;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.view_all {
  margin-right: 4px;
  padding: 8px 0 8px 8px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: transparent;
}

.list_item {
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .list_item {
    justify-content: center;
  }
  .your_List .list_item .item_Wrap {
    width: calc((100% - 52px) / 2);
    min-width: 250px;
  }
}
