<!-- ======= proCourse Section ======= -->
<section id="proCourse" class="your_List proCourse container_fluid">
  <div class="heading container">
    <div class="d-flex">
      <h2>
        Khóa học Pro
        <span> Mới </span>
      </h2>
    </div>
  </div>

  <div class="list_item d-flex f-wrap gap24 container">
    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/embed/oGTLjHtPjHU"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link glightbox"
          target="_self"
          href="https://www.youtube.com/embed/oGTLjHtPjHU"
        >
          HTML CSS Pro
        </a>
      </h3>

      <div class="icon_item">
        <img src="./assets/img/clients/crown.svg" alt="" />
      </div>

      <div class="price">
        <span class="old_price"> 2.499.000đ </span>
        <span class="main_price"> 1.299.000đ </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb"
        target="_self"
        href="proJavaScripCourse.html"
        style="background-image: url('./assets/img/team/jsPro.png')"
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a class="item_link" target="_self" href="proJavaScripCourse.html">
          JavaScript Pro
        </a>
      </h3>

      <div class="icon_item">
        <img src="./assets/img/clients/crown.svg" alt="" />
      </div>

      <div class="price">
        <span class="old_price"> 000.000đ </span>
        <span class="main_price"> Giá liên hệ </span>
      </div>
    </div>
    <!-- <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://www.youtube.com/embed/oGTLjHtPjHU"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png');
        "
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a
          class="item_link glightbox"
          target="_self"
          href="https://www.youtube.com/embed/oGTLjHtPjHU"
        >
          HTML CSS Pro
        </a>
      </h3>

      <div class="icon_item">
        <img src="./assets/img/clients/crown.svg" alt="" />
      </div>

      <div class="price">
        <span class="old_price"> 2.499.000đ </span>
        <span class="main_price"> 1.299.000đ </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb"
        target="_self"
        href="proJavaScripCourse.html"
        style="background-image: url('./assets/img/team/jsPro.png')"
      >
        <div class="module_outer_item">
          <span class="btn item_btn">Xem khóa học</span>
        </div>
      </a>

      <h3>
        <a class="item_link" target="_self" href="proJavaScripCourse.html">
          JavaScript Pro
        </a>
      </h3>

      <div class="icon_item">
        <img src="./assets/img/clients/crown.svg" alt="" />
      </div>

      <div class="price">
        <span class="old_price"> 000.000đ </span>
        <span class="main_price"> Giá liên hệ </span>
      </div>
    </div> -->

    <div class="item item_Wrap coming_Soon" name="coming Soon">
      <div
        class="item_thumb"
        style="
          background-image: url('https://files.fullstack.edu.vn/f8-prod/courses/20/648020fc16597.png');
          background-size: contain;
        "
      >
        <!-- <div class="module_outer_item"> -->
        <span class="btn disabled coursesBtn">Sắp ra mắt</span>
        <!--  </div> -->
      </div>

      <h3>
        <span class="item_link disabled"> NextJS Pro </span>
      </h3>

      <div class="icon_item">
        <img src="./assets/img/clients/crown.svg" alt="" />
      </div>

      <div class="price">
        <span class="old_price"> 000.000đ </span>
        <span class="main_price"> Đặt mua trước! </span>
      </div>
    </div>

    <div class="item item_Wrap">
      <a
        data-gallery="portfolioGallery"
        class="item_thumb glightbox"
        target="_self"
        href="https://xuanphao19.github.io/openAI_digitizationTechnology/"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(132, 24, 137, 0.328),
              rgba(153, 231, 146, 0.114) 50%
            ),
            url('./assets/img/clients/house.png');
          background-size: contain;
        "
      >
        <div class="module_outer_item">
          <span class="btn coursesBtn">Vào Học Ngay!</span>
        </div>
      </a>

      <h3>
        <span class="item_link"> Kiếm Tiền nhanh! </span>
      </h3>

      <div class="icon_item">
        <img src="./assets/img/clients/crown.svg" alt="" />
      </div>

      <div class="price">
        <span class="old_price"> 22.499.000đ </span>
        <span class="main_price"> 21.299.000đ </span>
      </div>
    </div>
  </div>
</section>
<!-- End proCourse -->
