<div class="App_withSidebarContent">
    <section class="index-module_grid index-module_fullWidth" style="max-width: 1920px;">
        <div class="DefaultLayout_container">
            <div class="DefaultLayout_container-top">
                <h1 class="DefaultLayout_heading">Lộ trình học</h1>
                <div class="MarkdownParser_wrapper DefaultLayout_desc"
                    style="--font-size: 1.5rem; --line-height: 1.6;">
                    <p>Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình học. Ví dụ: Để đi làm với vị
                        trí "Lập trình viên Front-end" bạn nên tập trung vào lộ trình "Front-end".</p>
                </div>
            </div>
            <div class="container-body">
                <div class="LearningPathsList_content">
                    <div class="LearningPathItem_wrapper">
                        <div class="LearningPathItem_body">
                            <div class="LearningPathItem_info">
                                <h2 class="LearningPathItem_title"><a
                                        href="/learning-paths/front-end-development">Lộ trình học Front-end</a></h2>
                                <p class="LearningPathItem_desc">Lập trình viên Front-end là người xây dựng ra
                                    giao diện websites. Trong phần này F8 sẽ chia sẻ cho bạn lộ trình để trở thành lập
                                    trình viên Front-end nhé.</p>
                            </div>
                            <div class="LearningPathItem_thumb-wrap"><a
                                    class="LearningPathItem_thumb-round"
                                    href="/learning-paths/front-end-development"><img
                                        class="LearningPathItem_thumb"
                                        src="https://files.fullstack.edu.vn/f8-prod/learning-paths/2/63b4642136f3e.png"
                                        alt="Lộ trình học Front-end"></a></div>
                        </div>
                        <div><a class="Button_btn  Button_primary  LearningPathItem_view-detail"
                                href="/learning-paths/front-end-development">Xem chi tiết</a></div>
                    </div>
                    <div class="LearningPathItem_wrapper">
                        <div class="LearningPathItem_body">
                            <div class="LearningPathItem_info">
                                <h2 class="LearningPathItem_title"><a
                                        href="/learning-paths/back-end-development">Lộ trình học Back-end</a></h2>
                                <p class="LearningPathItem_desc">Trái với Front-end thì lập trình viên Back-end
                                    là người làm việc với dữ liệu, công việc thường nặng tính logic hơn. Chúng ta sẽ
                                    cùng tìm hiểu thêm về lộ trình học Back-end nhé.</p>
                            </div>
                            <div class="LearningPathItem_thumb-wrap"><a
                                    class="LearningPathItem_thumb-round"
                                    href="/learning-paths/back-end-development"><img
                                        class="LearningPathItem_thumb"
                                        src="https://files.fullstack.edu.vn/f8-prod/learning-paths/3/63b4641535b16.png"
                                        alt="Lộ trình học Back-end"></a></div>
                        </div>
                        <div><a class="Button_btn  Button_primary  LearningPathItem_view-detail"
                                href="/learning-paths/back-end-development">Xem chi tiết</a></div>
                    </div>
                </div>
                <div class="SuggestionBox_wrapper">
                    <div class="SuggestionBox_info">
                        <h2>Tham gia cộng đồng học viên F8 trên Facebook</h2>
                        <p>Hàng nghìn người khác đang học lộ trình giống như bạn. Hãy tham gia hỏi đáp, chia sẻ và hỗ
                            trợ nhau trong quá trình học nhé.</p><a class="SuggestionBox_cta" target="_blank"
                            href="https://www.facebook.com/groups/f8official" rel="noopener">Tham gia nhóm</a>
                    </div>
                    <div class="SuggestionBox_image"><img
                            src="https://wall.vn/wp-content/uploads/2020/04/hinh-anh-van-ly-truong-thanh-1.jpg"
                            alt="Học lập trình web (F8 - Fullstack.edu.vn)"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="NewFeed_wrapper"><button class="NewFeed_button"><span class="NewFeed_icon"><svg
                    viewBox="0 0 24 24" style="width: 24px; height: 24px;">
                    <path fill="currentColor"
                        d="M12,8H4A2,2 0 0,0 2,10V14A2,2 0 0,0 4,16H5V20A1,1 0 0,0 6,21H8A1,1 0 0,0 9,20V16H12L17,20V4L12,8M15,15.6L13,14H4V10H13L15,8.4V15.6M21.5,12C21.5,13.71 20.54,15.26 19,16V8C20.53,8.75 21.5,10.3 21.5,12Z">
                    </path>
                </svg></span></button></div>
</div>